
<header>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
				<a class="navbar-brand" >一个很神秘的网页</a>
		</div>
		<div class="nav  navbar-right">
		  <ul class="nav navbar-nav">
			<li class="active"><a (click)="main(hotel)">HomePage</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{hotel.userAccount}} <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
							<li><a (click)="modifyP(hotel)">Change Password</a></li>
							<li><a (click)="comp(hotel)">Complete info</a></li>
							<li class="divider"></li>
				<li><a (click)="hotelman(hotel)">学生管理</a></li>
				<li><a (click)="hmregister(hotel)">登记账号</a></li>
						</ul>
			</li>
			<li class="nav navbar-nav navbar-right">
			  <a href="/mainpage">Log Out</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	
  </header>
  
  <ol class="breadcrumb">
	<li class="active">Home - {{hotel.userAccount}}</li>
</ol>

<div class="container-fluid">
	<div class="row content">
	  <div class="col-sm-3 sidenav">
		<h4>{{hotel.userAccount}}  </h4>
		<ul class="nav nav-pills nav-stacked">
		  <li class="active"><a (click)="main(hotel)">Home</a></li>
		  <li ><a (click)="modifyP(hotel)">Change Password</a></li>
			<li><a (click)="comp(hotel)">Complete info</a></li>
			<li><a (click)="hotelman(hotel)">Manage Student</a></li>
			<li><a (click)="hmorder(hotel)">学生申请</a></li>
			<li><a (click)="hmregister(hotel)">登记账号</a></li>
			<li ><a (click)="hmblog(hotel)">Blog管理</a></li>
		</ul><br>
		
	  </div>

	  <div class="col-sm-9">
		<div>
			<div class="row text-center">
				<div class="col-md-4">
				  <div class="btn-group">
					<div
					  class="btn btn-primary"
					  mwlCalendarPreviousView
					  [view]="view"
					  [(viewDate)]="viewDate"
					  (viewDateChange)="closeOpenMonthViewDay()"
					>
					  Previous
					</div>
					<div
					  class="btn btn-outline-secondary"
					  mwlCalendarToday
					  [(viewDate)]="viewDate"
					>
					  Today
					</div>
					<div
					  class="btn btn-primary"
					  mwlCalendarNextView
					  [view]="view"
					  [(viewDate)]="viewDate"
					  (viewDateChange)="closeOpenMonthViewDay()"
					>
					  Next
					</div>
				  </div>
				</div>
				<div class="col-md-4">
				  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
				</div>
				<div class="col-md-4">
				  <div class="btn-group">
					<div
					  class="btn btn-primary"
					  (click)="setView(CalendarView.Month)"
					  [class.active]="view === CalendarView.Month"
					>
					  Month
					</div>
					<div
					  class="btn btn-primary"
					  (click)="setView(CalendarView.Week)"
					  [class.active]="view === CalendarView.Week"
					>
					  Week
					</div>
					<div
					  class="btn btn-primary"
					  (click)="setView(CalendarView.Day)"
					  [class.active]="view === CalendarView.Day"
					>
					  Day
					</div>
				  </div>
				</div>
			</div>
			  <br/>
			  <div [ngSwitch]="view">
				<mwl-calendar-month-view
				  *ngSwitchCase="CalendarView.Month"
				  [viewDate]="viewDate"
				  [events]="events"
				  [refresh]="refresh"
				  [activeDayIsOpen]="activeDayIsOpen"
				  (dayClicked)="dayClicked($event.day)"
				  (eventClicked)="handleEvent('Clicked', $event.event)"
				  (eventTimesChanged)="eventTimesChanged($event)"
				>
				</mwl-calendar-month-view>
				<mwl-calendar-week-view
					*ngSwitchCase="CalendarView.Week"
					[viewDate]="viewDate"
					[events]="events"
					[refresh]="refresh"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"
				>
				</mwl-calendar-week-view>
				<mwl-calendar-day-view
					*ngSwitchCase="CalendarView.Day"
					[viewDate]="viewDate"
					[events]="events"
					[refresh]="refresh"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"
				>
				</mwl-calendar-day-view>
			  </div>		  
		</div>


		<h4><small>更新日志</small></h4>
		<hr>
		<h2>Version 2.12</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Nov 13, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> </h5><br>
		<p>1. 新增推荐人、推荐信、和文书删除功能</p>
		<p>2. 新增展示学校推荐信总数</p>
		
		
		<hr>
		<h2>Version 2.11</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Oct 24, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> <span class="label label-danger">学生系统</span></h5><br>
		<p>1. 新增查看日历事项中具体信息</p>
		<p>2. 学生系统中增加日历视图功能</p>
		<p>3. Debug 部分页面无法获取学生个人信息</p>

		<hr>
		<h2>Version 2.10</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Oct 22, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> </h5><br>
		<p>1. 新增日历事项</p>


		<hr>
		<h2>Version 2.9</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Oct 16, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> <span class="label label-danger">学生系统</span></h5><br>
		<p>1. Debug学生系统不能修改职业规划</p>
		<p>2. Debug管理员系统无法下载学生列表</p>

		<hr>
		<h2>Version 2.8</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Oct 08, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> </h5><br>
		<p>1. 新增管理员系统中，可以下载学生的选校列表</p>

		<hr>
		<h2>Version 2.7</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Oct 02, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> </h5><br>
		<p>1. 新增管理员系统中，可以查看推荐人被引用的全部列表</p>
		

		<hr>
		<h2>Version 2.6</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Sep 27, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span> <span class="label label-primary">主页</span></h5><br>
		<p>1. 新增管理员系统中，对于学生的工作经历和教育背景 信息删除功能</p>
		<p>2. 添加 主页-留学申请 页面中其他服务内容，包含文书、咨询、简历修改</p><br>


		<hr>
		<h2>Version 2.5</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Sep 23, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span><span class="label label-primary">主页</span></h5><br>
		<p>1. 新增管理员系统中可以查询学生的个人信息，包含工作经历，教育背景等信息</p><br>
		<p>2. 更新 主页-留学申请-研究生申请 页面中Q&A部分信息</p><br>
		<hr>
	
		<h2>Version 2.4</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Aug 21, 2021.</h5>
		<h5><span class="label label-primary">主页</span></h5><br>
		<p>1. 新增 主页-留学生请 页面，及其子项（高中、本科、研究生）</p><br>
		<hr>

		<h2>Version 2.3</h2>
		<h5><span class="glyphicon glyphicon-time"></span> Post by Yi, Aug 08, 2021.</h5>
		<h5><span class="label label-success">管理员系统</span><span class="label label-danger">学生系统</span></h5><br>
		<p>1. 新增 通知系统</p><br>
		<p>1. 新增 文书系统</p><br>
		<hr>

		<br><br>
	  </div>
	</div>
</div>

  
  