<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >{{student.firstName}} {{student.lastName}}</a>
      </div>
      <div class="nav  navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="studentmain(student)">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              推荐人 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="rec(student)">全部推荐人信息</a></li>
              <li><a (click)="addRecom(student)">添加新的推荐人</a></li>
            </ul>
          </li>
          <li class="nav navbar-nav navbar-right">
            <a href="/mainpage">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	  <div class="container-fluid">
		<div class="row content">
		  <div class="col-sm-3 sidenav">
			  <h3></h3>
			<ul class="nav nav-pills nav-stacked">
			  <li ><a (click)="studentmain(student)">Home-申请状态</a></li>
				<li ><a >更改密码</a></li>
				<li class="active"><a >完善个人信息</a></li>
				<li><a (click)="rec(student)">推荐人信息</a></li>
				<li><a (click)="addRecom(student)">添加推荐人</a></li>
			</ul><br>	
		  </div>
	  
		  <div class="col-sm-9">
			<div class="container">
				<h2>{{student.firstName}} {{student.lastName}}</h2>
				<div class="row">
					<div class="col-sm-10">
						<p>请尽量完善填写个人信息，对文书和简历的创作很重要</p>
					</div>
					<div class="col-sm-2">
						<input type="button" id="modifyPersonal" (click)="modifyPersonal()" value="修改信息" class="btn btn-primary  " >
						<input type="button" id="updatePersonal" disabled="" (click)="updatePersonal()" value="确定修改" class="btn btn-primary" >
					</div>
					
				</div>
				
				<ul class="nav nav-pills">
				  <li class="active"><a data-toggle="pill" href="#personal">个人信息</a></li>
				  <li><a data-toggle="pill" href="#Education">教育背景</a></li>
				  <li><a data-toggle="pill" href="#standardtest">标准考试</a></li>
				  <li><a data-toggle="pill" href="#Experience">教学科研/工作经历</a></li>
				  <li><a data-toggle="pill" href="#Publication">论文发表</a></li>
				  <li><a data-toggle="pill" href="#Honors">荣誉&奖项</a></li>
				  <li><a data-toggle="pill" href="#Activities">课外活动</a></li>
				  <li><a data-toggle="pill" href="#skills">技能&爱好</a></li>
				  <li><a data-toggle="pill" href="#interest">专业兴趣</a></li>
				  <li><a data-toggle="pill" href="#career">职业规划</a></li>
				  <li><a data-toggle="pill" href="#strength">个人优势</a></li>
				  <li><a data-toggle="pill" href="#family">家庭信息</a></li>
				</ul>
				
				<div class="tab-content">
				  <div id="personal" class="tab-pane fade in active">
					<hr>
					<form id="form1" action="" method="post">
					<table class="table table-bordered" >
						<tbody>
						  <tr>
							<td >名字 Firstname</td>
							<td >	
								<input class="form-control" id="firstName" value="{{student.firstName}}" [(ngModel)]="firstName"  name="firstName" style="width: 200px;" disabled="">
							</td>
							<td >姓氏 Lastname</td>
							<td ><input class="form-control" id="lastName" value="{{student.lastName}}" [(ngModel)]="lastName"  name="lastName" style="width: 200px;" disabled=""></td>
							<td >性别 Gender</td>
							<td><input class="form-control" id="gender" value="{{student.gender}}" [(ngModel)]="gender"  name="gender" style="width: 200px;" disabled=""></td>
						  </tr>
						  <tr>
							<td >出生年月日 dob</td>
							<td >	
								<input class="form-control" id="dob" value="{{student.dob}}" [(ngModel)]="dob"  name="dob" style="width: 200px;" disabled="">
								<small class="form-text text-muted">格式为MM/DD/YYYY</small>
							</td>
							<td >现住址 currentAddress	</td>
							<td colspan="3"><input class="form-control" id="currentAddress" value="{{student.currentAddress}}" [(ngModel)]="currentAddress"  name="currentAddress" style="width: 600px;" disabled="">
								<small class="form-text text-muted">请填写英文地址，并包含邮编。</small></td>
						  </tr>
						  <tr>
							<td >国籍</td>
							<td >	
								<input class="form-control" id="citizen" value="{{student.citizen}}" [(ngModel)]="citizen"  name="citizen" style="width: 200px;" disabled="">
							</td>
							<td >永久居住地址 Permanent Address</td>
							<td colspan="3"><input class="form-control" id="permanentAddress" value="{{student.permanentAddress}}" [(ngModel)]="permanentAddress"  name="permanentAddress" style="width: 600px;" disabled="">
								<small class="form-text text-muted">请填写英文地址，并包含邮编。</small></td>
						  </tr>
						  <tr>
							<td >电话 Cellphone</td>
							<td >	
								<input class="form-control" id="phone" value="{{student.phone}}" [(ngModel)]="phone"  name="phone" style="width: 200px;" disabled="">
							</td>
							<td >邮箱 Email</td>
							<td ><input class="form-control" id="email" value="{{student.email}}" [(ngModel)]="email"  name="email" style="width: 200px;" disabled=""></td>
							<td >SSN </td>
							<td><input class="form-control" id="ssn" value="{{student.ssn}}" [(ngModel)]="ssn"  name="ssn" style="width: 200px;" disabled=""></td>
						  </tr>
						  <tr>
							<td >护照号 Passport</td>
							<td colspan="2">	
								<input class="form-control" id="passport" value="{{student.passport}}" [(ngModel)]="passport"  name="passport" style="width: 200px;" disabled="">
							</td>
							<td >美签号码 Visa Number</td>
							<td colspan="2"><input class="form-control" id="visa" value="{{student.visa}}" [(ngModel)]="visa"  name="visa" style="width: 200px;" disabled=""></td>
						  </tr>
						  <tr>
							<td >用于申请的邮箱 Email</td>
							<td colspan="2">	
								<input class="form-control" id="appEmail" value="{{student.appEmail}}" [(ngModel)]="appEmail"  name="appEmail" style="width: 200px;" disabled="">
							</td>
							<td >用于申请的邮箱密码 Password</td>
							<td colspan="2"><input class="form-control" id="appPsw" value="{{student.appPsw}}" [(ngModel)]="appPsw"  name="appPsw" style="width: 200px;" disabled=""></td>
						  </tr> 
						</tbody>
					</table>
					</form>
				  </div>
				  <div id="Education" class="tab-pane fade">
					  <hr>
					<div class="row">
						<div class="col-sm-10">
						<h4>高中及以上教育经历，包括国际交流、暑期项目等</h4>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">添加教育背景</button>
						</div>
					</div>
					<div id="demo" class="collapse"><hr>
					  <p>请仔细填写，已经提交无法修改</p>
					
					<form (submit)="addEducation(postForm)" #postForm="ngForm" ngNativeValidate>
					
						<table class="table table-bordered" >
						  <tbody>
							<tr>
							  <td >类型</td>
							  <td colspan="4">	
								  <div class="form-check" >
									  <label class="form-check-label">
										<input type="radio" class="form-check-input" name="type" id="type1" value="高中"  ngModel required>
										高中
									  </label>
									  <label class="form-check-label">
										<input type="radio" class="form-check-input" name="type" id="type2" value="本科"  ngModel required>
										本科
									  </label>
									  <label class="form-check-label">
										<input type="radio" class="form-check-input" name="type" id="type3" value="研究生" ngModel required>
										研究生
									  </label>
									</div>
							  </td>	
							</tr>	
							<tr>
							  <td >University 学校</td>
							  <td colspan="4">	
								  <input class="form-control" id="educationName"  name="educationName" style="width: 800px;" ngModel>
								  <small class="form-text text-muted">请输入学校全称</small>
							  </td>	
							</tr>
							<tr>
							  <td >Address 学校地址</td>
							  <td colspan="4">	
								  <input class="form-control" id="educationLocation"  name="educationLocation" style="width: 800px;" ngModel>
								  <small class="form-text text-muted">地址请包含邮编</small>
	  
							  </td>
							</tr>
							<tr>
							  <td >在校日期 </td>
							  <td >From</td>
							  <td >	
								  <input class="form-control" id="educationStart"   name="educationStart" style="width: 200px;" ngModel>
								  <small class="form-text text-muted">格式MM/DD/YYYY</small>
							  </td>	
							  <td >To</td>
							  <td >	
								  <input class="form-control" id="educationEnd"   name="educationEnd" style="width: 200px;" ngModel>
								  <small class="form-text text-muted">格式MM/DD/YYYY</small>
							  </td>
							</tr>
							<tr>
							  <td >Major 专业 <br><small class="form-text text-muted">请仔细核对专业名称</small></td>
							  <td colspan="4">	
								  <input class="form-control" id="major"  name="major" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
							  <td >Degree 学位 <br><small class="form-text text-muted">BS/BA/BM/BE（请务必核实学位名称）</small></td>
							  <td colspan="4">	
								  <input class="form-control" id="Degree"  name="Degree" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr >
							  <td colspan="2">Overall GPA<br><small class="form-text text-muted">若成绩单直接体现则照此填写。</small>
								  <br><small class="form-text text-muted">若成绩单直接体现则照此填写。如不显示，简单计算方法：(单科成绩×学分)/ 总学分数</small>
							  </td>
							  <td colspan="3">	
								  <input class="form-control" id="GPA"  name="GPA" style="width: 400px;" ngModel>
								  <small class="form-text text-muted">格式为 XXX/100,  XXX/4.0  or  _____/_____</small>
							  </td>
							</tr>
							<tr>
							  <td >Major GPA 专业GPA <br><small class="form-text text-muted">如果有请如实填写</small></td>
							  <td colspan="4">	
								  <input class="form-control" id="MajorGPA"  name="MajorGPA" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
							  <td >Second Degree or Minor 二学位或辅修</td>
							  <td colspan="4">	
								  <input class="form-control" id="SecondDegree"  name="SecondDegree" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr >
							  <td colspan="2">Overall GPA<br><small class="form-text text-muted">若成绩单直接体现则照此填写。</small>
								  <br><small class="form-text text-muted">若成绩单直接体现则照此填写。如不显示，简单计算方法：(单科成绩×学分)/ 总学分数</small>
							  </td>
							  <td colspan="3">	
								  <input class="form-control" id="SecondGPA"  name="SecondGPA" style="width: 400px;" ngModel>
								  <small class="form-text text-muted">格式为 XXX/100,  XXX/4.0  or  _____/_____</small>
							  </td>
							</tr>
							<tr>
							  <td >其他信息</td>
							  <td colspan="4">	
								  <input class="form-control" id="other"  name="other" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
							  <td colspan="4"></td>
							  <td >	
								  <button  class="btn btn-primary" >添加</button>
							  </td>
							</tr>
							
						  </tbody>
					  	</table> 
					</form>

					</div>
					<div class="panel-group" id="accordion" *ngIf="education.length > 0">
						<div class="panel panel-primary" *ngFor="let k of education">
						  <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" data-parent="#accordion" 
								href="#{{k._id}}">
								<b>{{k.educationName}} </b> ({{k.type}})
							  </a>
							</h4>
						  </div>
						  <div id="{{k._id}}" class="panel-collapse collapse in">
							<div class="panel-body">
								<table class="table table-bordered" >
									<tbody>
									  <tr >
										<td style="width: 30%; background-color: lightgray;">University 学校</td>
										<td colspan="4" style="width: 70%;">	
											{{k.educationName}}
										</td>	
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Address 学校地址</td>
										<td colspan="4">	
											{{k.educationLocation}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">在校日期 </td>
										<td style="background-color: lightgray;">From</td>
										<td >	
											{{k.educationStart}}
										</td>	
										<td style="background-color: lightgray;">To</td>
										<td >	
											{{k.educationEnd}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Major 专业 </td>
										<td colspan="4">	
											{{k.major}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Degree 学位 </td>
										<td colspan="4">	
											{{k.Degree}}
										</td>
									  </tr>
									  <tr >
										<td style="background-color: lightgray;">Overall GPA
										</td>
										<td colspan="4">	
											{{k.GPA}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Major GPA 专业GPA </td>
										<td colspan="4">	
											{{k.MajorGPA}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Second Degree or Minor 二学位或辅修</td>
										<td colspan="4">	
											{{k.SecondDegree}}
										</td>
									  </tr>
									  <tr >
										<td style="background-color: lightgray;">Overall GPA
										</td>
										<td colspan="4">	
											{{k.SecondGPA}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">其他信息</td>
										<td colspan="4">	
											{{k.other}}
										</td>
									  </tr>  
									</tbody>
								</table>
							</div>
						  </div>
						</div>
					</div>
				  </div>
				  <div id="standardtest" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td colspan="10">
									<h4>TOEFL/IELTS</h4> <small class="form-text text-muted">如果是IELTS成绩，请在总分中标记</small>
								</td>
							</tr>
						  <tr>
							<td >总分 Total Score</td>
							<td >	
								<input class="form-control" id="TOEFL" value="{{student.TOEFL}}" [(ngModel)]="TOEFL"  name="TOEFL" style="width: 80px;" disabled="">
							</td>
							<td >阅读 Reading</td>
							<td ><input class="form-control" id="TOEFLR" value="{{student.TOEFLR}}" [(ngModel)]="TOEFLR"  name="TOEFLR" style="width: 50px;" disabled=""></td>
							<td >听力 Listening</td>
							<td><input class="form-control" id="TOEFLL" value="{{student.TOEFLL}}" [(ngModel)]="TOEFLL"  name="TOEFLL" style="width: 50px;" disabled=""></td>
							<td >口语 Speaking</td>
							<td ><input class="form-control" id="TOEFLS" value="{{student.TOEFLS}}" [(ngModel)]="TOEFLS"  name="TOEFLS" style="width: 50px;" disabled=""></td>
							<td >写作 Writing</td>
							<td><input class="form-control" id="TOEFLW" value="{{student.TOEFLW}}" [(ngModel)]="TOEFLW"  name="TOEFLW" style="width: 50px;" disabled=""></td>
						  </tr>
						  <tr>
							<td colspan="10">
								<h4>GRE</h4> <small class="form-text text-muted">如果没有考过GRE可以不填写</small>
							</td>
						  </tr>
						  <tr>
							<td >总分 Total Score</td>
							<td >	
								<input class="form-control" id="GRE" value="{{student.GRE}}" [(ngModel)]="GRE"  name="GRE" style="width: 80px;" disabled="">
							</td>
							<td >Verbal</td>
							<td ><input class="form-control" id="GREV" value="{{student.GREV}}" [(ngModel)]="GREV"  name="GREV" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GREVP" value="{{student.GREVP}}" [(ngModel)]="GREVP"  name="GREVP" style="width: 80px;" disabled="">
							</td>
							<td >Quantitative</td>
							<td ><input class="form-control" id="GREQ" value="{{student.GREQ}}" [(ngModel)]="GREQ"  name="GREQ" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GREQP" value="{{student.GREQP}}" [(ngModel)]="GREQP"  name="GREQP" style="width: 80px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td colspan="2" ></td>
							<td >Analytical Writing</td>
							<td ><input class="form-control" id="GREW" value="{{student.GREW}}" [(ngModel)]="GREW"  name="GREW" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GREWP" value="{{student.GREWP}}" [(ngModel)]="GREWP"  name="GREWP" style="width: 80px;" disabled="">
							</td>
							<td colspan="4"></td>
						  </tr>
						  <tr>
							<td colspan="10">
								<h4>GMAT</h4> <small class="form-text text-muted">如果没有考过GMAT可以不填写</small>
							</td>
						  </tr>
						  <tr>
							<td >总分 Total Score</td>
							<td >	
								<input class="form-control" id="GMAT" value="{{student.GMAT}}" [(ngModel)]="GMAT"  name="GMAT" style="width: 80px;" disabled="">
							</td>
							<td >Verbal</td>
							<td ><input class="form-control" id="GMATV" value="{{student.GMATV}}" [(ngModel)]="GMATV"  name="GMATV" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATVP" value="{{student.GMATVP}}" [(ngModel)]="GMATVP"  name="GMATVP" style="width: 80px;" disabled="">
							</td>
							<td >Quantitative</td>
							<td ><input class="form-control" id="GMATQ" value="{{student.GMATQ}}" [(ngModel)]="GMATQ"  name="GMATQ" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATQP" value="{{student.GMATQP}}" [(ngModel)]="GMATQP"  name="GMATQP" style="width: 80px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td colspan="2" ></td>
							<td >Analytical Writing</td>
							<td ><input class="form-control" id="GMATW" value="{{student.GMATW}}" [(ngModel)]="GMATW"  name="GMATW" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATWP" value="{{student.GMATWP}}" [(ngModel)]="GMATWP"  name="GMATWP" style="width: 80px;" disabled="">
							</td>
							<td >Reasoning</td>
							<td ><input class="form-control" id="GMATR" value="{{student.GMATR}}" [(ngModel)]="GMATR"  name="GMATR" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATRP" value="{{student.GMATRP}}" [(ngModel)]="GMATRP"  name="GMATRP" style="width: 80px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td colspan="2">
								<h4>Others</h4> 
							</td>
							<td colspan="8">
								<input class="form-control" id="OtherStandardTest" value="{{student.OtherStandardTest}}" [(ngModel)]="OtherStandardTest"  name="OtherStandardTest" style="width: 900px;" disabled="">
							</td>
						  </tr>
						  
						</tbody>
					</table>
					
				  </div>
				  <div id="Experience" class="tab-pane fade">
					<div class="row">
						<div class="col-sm-10">
						<h4>请认真填写此part，它对PS的写作很重要。</h4>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">教学科研/工作经历</button>
						</div>
					</div>
					<div id="demo2" class="collapse"><hr>
						<form (submit)="addExperience(postForm)" #postForm="ngForm" ngNativeValidate>
					  <fieldset class="form-group">
						<table class="table table-bordered" >
						  <tbody>
							<tr>
							  <td >类型</td>
							  <td colspan="4">	
								  <div class="form-check" >
									  <label class="form-check-label">
										<input type="radio" class="form-check-input" name="experiencetype" id="experiencetype1" value="教学科研"  ngModel required>
										教学科研
									  </label>
									  <label class="form-check-label">
										<input type="radio" class="form-check-input" name="experiencetype" id="experiencetype2" value="工作经历"  ngModel required>
										工作经历
									  </label>
									</div>
							  </td>	
							</tr>	
							<tr>
							  <td >Company/Institution <br> 公司/研究单位 </td>
							  <td colspan="4">	
								  <input class="form-control" id="institution"  name="institution" style="width: 800px;" ngModel>
								  <small class="form-text text-muted">请输入公司/研究单位全称</small>
							  </td>	
							</tr>
							<tr>
							  <td >Address 地址</td>
							  <td colspan="4">	
								  <input class="form-control" id="institutionLocation"  name="institutionLocation" style="width: 800px;" ngModel>
								  <small class="form-text text-muted">地址请包含邮编</small>
	  
							  </td>
							</tr>
							<tr>
							  <td >在职日期 </td>
							  <td >From</td>
							  <td >	
								  <input class="form-control" id="experienceStart"   name="experienceStart" style="width: 200px;" ngModel>
								  <small class="form-text text-muted">格式MM/DD/YYYY</small>
							  </td>	
							  <td >To</td>
							  <td >	
								  <input class="form-control" id="experienceEnd"   name="experienceEnd" style="width: 200px;" ngModel>
								  <small class="form-text text-muted">格式MM/DD/YYYY</small>
							  </td>
							</tr>
							<tr>
							  <td >Position or Title 职位<br><small class="form-text text-muted">请仔细核对职位名称，与Offer Letter一致</small></td>
							  <td colspan="4">	
								  <input class="form-control" id="experienceposition"  name="experienceposition" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
							  <td >Responsibilities 职责 </td>
							  <td colspan="4">	
								  <input class="form-control" id="responsibilities"  name="responsibilities" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
							  <td >Project  项目简介 <br><small class="form-text text-muted">（请按SOAR模式填写）</small>
								<br>Situation背景 <br> Obstacle困难<br>Activity行动<br>Result结果
							  </td>
							  <td colspan="4">	
								  <input class="form-control" id="project"  name="project" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
								<td colspan="5">	
									<p>注释： SOAR 模型</p><br>
									<p>	SOAR （Situation, Obstacle, Activities and Result） 是一种简易有的头脑风暴模式</p><br>
									<p> Situation: 你现在的情况是什么？参加的工作和项目是什么？目标为何？</p><br>
									<p>	Obstacle:  有什么挑战性的，困难的，不同寻常的地方值得一提？</p><br>
									<p>	Activities： 你采取了什么措施解决这个问题？如何做的？起到什么作用？</p><br>
									<p>	Result: 你参与行动之后的结果是什么？ 为什么你做出这个决定或采取了某种措施？如果你的行动结果是可以量化的，你个人的参与导致了前后结果有什么不同？</p><br>
										
									<p>	当然，你还可以点出这个经历对你的意义，对读者有什么特殊的意义，展现你自己的见解和成熟的认知。
										成功的申请文书需要每个人都进行一定程度的自省，通过不断的问问题和组织问题，从而连贯而直观的审视自己的故事经历。这可以帮助我们更快的抓住重点，集中精力在最吸引人的事例上。当然，可能不是所有的故事都能详细的写出Situation 和Obstacle, 但是Activities 和Results 是一定要提供的。另外注意的一点，SOAR模式不只是限于时间的排序，而是帮助你头脑风暴的方法。所以借助于SOAR，但不要被其限制和束缚。</p>
								</td>
							  </tr>
							<tr>
							  <td >Achievement 成就</td>
							  <td colspan="4">	
								  <input class="form-control" id="achievement"  name="achievement" style="width: 800px;" ngModel>
							  </td>
							</tr>
							<tr>
								<td colspan="4"></td>
								<td >	
									<button  class="btn btn-primary" >添加</button>
								</td>
							</tr>
						  </tbody>
					  </table>
					  </fieldset>
					  </form>
					</div>
					<div class="panel-group" id="accordion" *ngIf="experience.length > 0">
						<div class="panel panel-primary" *ngFor="let e of experience">
						  <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" data-parent="#accordion" 
								href="#{{e._id}}">
								<b>{{e.institution}} </b> ({{e.type}})
							  </a>
							</h4>
						  </div>
						  <div id="{{e._id}}" class="panel-collapse collapse in">
							<div class="panel-body">
								<table class="table table-bordered" >
									<tbody>
									  <tr >
										<td style="width: 30%; background-color: lightgray;">Company/Institution <br> 公司/研究单位 </td>
										<td colspan="4" style="width: 70%;">	
											{{e.institution}}
										</td>	
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Address 地址</td>
										<td colspan="4">	
											{{e.institutionLocation}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">在职日期 </td>
										<td style="background-color: lightgray;">From</td>
										<td >	
											{{e.experienceStart}}
										</td>	
										<td style="background-color: lightgray;">To</td>
										<td >	
											{{e.experienceEnd}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Position or Title 职位 </td>
										<td colspan="4">	
											{{e.experienceposition}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Responsibilities 职责 </td>
										<td colspan="4">	
											{{e.responsibilities}}
										</td>
									  </tr>
									  <tr >
										<td style="background-color: lightgray;">Project  项目简介 
										</td>
										<td colspan="4">	
											{{e.project}}
										</td>
									  </tr>
									  <tr>
										<td style="background-color: lightgray;">Achievement 成就 </td>
										<td colspan="4">	
											{{e.achievement}}
										</td>
									  </tr> 
									</tbody>
								</table>
							</div>
						  </div>
						</div>
					</div>
				  </div>
				  <div id="Publication" class="tab-pane fade">
					<hr>
				  <div class="row">
					  <div class="col-sm-10">
					  <h4>从高中开始发表过的文章，期刊，论文都可以填写</h4>
					  </div>
					  <div class="col-sm-2">
						  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">添加论文</button>
					  </div>
				  </div>
				  <div id="demo3" class="collapse"><hr>
					<p>注：论文要写清楚作者、题目、所发表刊物或会议名称、页码、时间。</p><br><p>例如：Study on the Risk of Oversea M&A under the Background of Financial Crisis- in the case of China. Market Modernization 11 2009.10</p>
					<form (submit)="addPublication(postForm)" #postForm="ngForm" ngNativeValidate>
				  <fieldset class="form-group">
					<table class="table table-bordered" >
					  <tbody>	
						<tr>
						  <td >Title 文章题目</td>
						  <td colspan="4">	
							  <input class="form-control" id="PublicationTitle"  name="PublicationTitle" style="width: 800px;" ngModel>
						  </td>	
						</tr>
						<tr>
						  <td >刊物</td>
						  <td colspan="4">	
							  <input class="form-control" id="PublicationJournal"  name="PublicationJournal" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td >发表日期 </td>
						  <td colspan="4">
							<input class="form-control" id="PublicationDate"  name="PublicationDate" type="date" placeholder="date" style="width:50%" ngModel >
						  </td>
						</tr>
						<tr>
						  <td >Link 链接 </td>
						  <td colspan="4">	
							  <input class="form-control" id="PublicationLink"  name="PublicationLink" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td >Authors </td>
						  <td colspan="4">	
							  <input class="form-control" id="PublicationAuthors"  name="PublicationAuthors" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td >Abstract 摘要</td>
						  <td colspan="4">	
							  <input class="form-control" id="PublicationAbstract"  name="PublicationAbstract" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td >Level 级别</td>
						  <td colspan="4">	
							  <input class="form-control" id="PublicationLevel"  name="PublicationLevel" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td colspan="4"></td>
						  <td >	
							  <button  class="btn btn-primary" >添加</button>
						  </td>
						</tr>
						
					  </tbody>
				  </table>
				  </fieldset>
				  </form>
				  </div>
				  <div class="panel-group" id="accordion" *ngIf="publication.length > 0">
					  <div class="panel panel-primary" *ngFor="let p of publication">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" 
							  href="#{{p._id}}">
							  <b>{{p.PublicationTitle}} </b> 
							</a>
						  </h4>
						</div>
						<div id="{{p._id}}" class="panel-collapse collapse in">
						  <div class="panel-body">
							  <table class="table table-bordered" >
								  <tbody>
									<tr >
									  <td style="width: 30%; background-color: lightgray;">刊物</td>
									  <td colspan="4" style="width: 70%;">	
										  {{p.PublicationJournal}}
									  </td>	
									</tr>
									<tr>
									  <td style="background-color: lightgray;">发表日期</td>
									  <td colspan="4">	
										  {{p.PublicationDate}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Link 链接 </td>
									  <td colspan="4">	
										  {{p.PublicationLink}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Authors</td>
									  <td colspan="4">	
										  {{p.PublicationAuthors}}
									  </td>
									</tr>
									<tr >
									  <td style="background-color: lightgray;">Abstract 摘要
									  </td>
									  <td colspan="4">	
										  {{p.PublicationAbstract}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Level 级别</td>
									  <td colspan="4">	
										  {{p.PublicationLevel}}
									  </td>
									</tr> 
								  </tbody>
							  </table>
						  </div>
						</div>
					  </div>
				  </div>
				  </div>
				  <div id="Honors" class="tab-pane fade">
					<hr>
				  <div class="row">
					  <div class="col-sm-10">
					  <h4>奖励和荣誉包括各种竞赛得奖、奖学金、以及突出成绩业绩。竞赛获奖可包括中学的有份量奖项</h4>
					  </div>
					  <div class="col-sm-2">
						  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">添加奖项</button>
					  </div>
				  </div>
				  <div id="demo6" class="collapse"><hr>
					<form (submit)="addHonor(postForm)" #postForm="ngForm" ngNativeValidate>
				  	<fieldset class="form-group">
					<table class="table table-bordered" >
					  <tbody>	
						<tr>
						  <td >Prize所获奖项和（或）具体参赛项目（project）名称	</td>
						  <td colspan="4">	
							  <input class="form-control" id="prize"  name="prize" style="width: 800px;" ngModel>
						  </td>	
						</tr>
						<tr>
						  <td >百分比</td>
						  <td colspan="4">	
							  <input class="form-control" id="percentage"  name="percentage" style="width: 800px;" ngModel>
							  <small class="form-text text-muted">请提供TOP百分之多少的参赛者才能得到这个奖项，可以这样计算，得奖人数/参赛人数，如一等奖1人，二等奖2个人，参赛100个人就是top 2%</small>
						  </td>
						</tr>
						<tr>
						  <td >Date日期 </td>
						  <td colspan="4">
							<input class="form-control" id="honorDate"   name="honorDate" style="width: 200px;" ngModel>
								  <small class="form-text text-muted">格式MM/DD/YYYY</small>
						  </td>
						</tr>
						<tr>
						  <td >Grantor 授奖单位 </td>
						  <td colspan="4">	
							  <input class="form-control" id="grantor"  name="grantor" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td colspan="4"></td>
						  <td >	
							  <button  class="btn btn-primary" >添加</button>
						  </td>
						</tr>
						
					  </tbody>
				 	 </table>
				  	</fieldset>
				  	</form>
				  </div>
				  <div class="panel-group" id="accordion" *ngIf="honor.length > 0">
					  <div class="panel panel-primary" *ngFor="let h of honor">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" 
							  href="#{{h._id}}">
							  <b>{{h.prize}} </b> 
							</a>
						  </h4>
						</div>
						<div id="{{h._id}}" class="panel-collapse collapse in">
						  <div class="panel-body">
							  <table class="table table-bordered" >
								  <tbody>
									<tr >
									  <td style="width: 30%; background-color: lightgray;">Date 日期</td>
									  <td colspan="4" style="width: 70%;">	
										  {{h.honorDate}}
									  </td>	
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Prize所获奖项和（或）具体参赛项目（project）名称	</td>
									  <td colspan="4">	
										  {{h.prize}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">百分比 </td>
									  <td colspan="4">	
										  {{h.percentage}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Grantor 授奖单位</td>
									  <td colspan="4">	
										  {{h.grantor}}
									  </td>
									</tr>
								  </tbody>
							  </table>
						  </div>
						</div>
					  </div>
				  </div>
				  </div>
				  <div id="Activities" class="tab-pane fade">
					<hr>
				  <div class="row">
					  <div class="col-sm-10">
					  <h4></h4>
					  </div>
					  <div class="col-sm-2">
						  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">添加课外活动</button>
					  </div>
				  </div>
				  <div id="demo4" class="collapse"><hr>
					<p>注： 包括你参加过何种社团活动、何种专业组织、你担任的职务（如果有）、起止时间。</p>
					<form (submit)="addActivity(postForm)" #postForm="ngForm" ngNativeValidate>
				  <fieldset class="form-group">
					<table class="table table-bordered" >
					  <tbody>	
						<tr>
						  <td >Organization 协会或组织 </td>
						  <td colspan="4">	
							  <input class="form-control" id="activityOrganization"  name="activityOrganization" style="width: 800px;" ngModel>
						  </td>	
						</tr>
						<tr>
						  <td >起止日期 </td>
						  <td >From</td>
						  <td >	
							  <input class="form-control" id="activityStart"   name="activityStart" style="width: 200px;" ngModel>
							  <small class="form-text text-muted">格式 MM/YYYY</small>
						  </td>	
						  <td >To</td>
						  <td >	
							  <input class="form-control" id="activityEnd"   name="activityEnd" style="width: 200px;" ngModel>
							  <small class="form-text text-muted">格式 MM/YYYY</small>
						  </td>
						</tr>
						<tr>
						  <td >Position 担任职务</td>
						  <td colspan="4">	
							  <input class="form-control" id="activityPosition"  name="activityPosition" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td >Description of Position & Activities 职位描述及相关活动介绍 <br><small class="form-text text-muted">（eg: 领导什么团队，分配和负责什么工作）</small></td>
						  <td colspan="4">	
							  <input class="form-control" id="activityDescription"  name="activityDescription" style="width: 800px;" ngModel>
						  </td>
						</tr>
						<tr>
						  <td colspan="4"></td>
						  <td >	
							  <button  class="btn btn-primary" >添加</button>
						  </td>
						</tr>
						
					  </tbody>
				  </table>
				  </fieldset>
				  </form>
				  </div>
				  <hr>
				  <div class="panel-group" id="accordion" *ngIf="activity.length > 0">
					  <div class="panel panel-primary" *ngFor="let a of activity">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" 
							  href="#{{a._id}}">
							  <b>{{a.activityOrganization}} </b>
							</a>
						  </h4>
						</div>
						<div id="{{a._id}}" class="panel-collapse collapse in">
						  <div class="panel-body">
							  <table class="table table-bordered" >
								  <tbody>
									<tr >
									  <td style="width: 30%; background-color: lightgray;">Organization 协会或组织</td>
									  <td colspan="4" style="width: 70%;">	
										  {{a.activityOrganization}}
									  </td>	
									</tr>
									<tr>
									  <td style="background-color: lightgray;">起止日期 </td>
									  <td style="background-color: lightgray;">From</td>
									  <td >	
										  {{a.activityStart}}
									  </td>	
									  <td style="background-color: lightgray;">To</td>
									  <td >	
										  {{a.activityEnd}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Position 担任职务 </td>
									  <td colspan="4">	
										  {{a.activityPosition}}
									  </td>
									</tr>
									<tr>
									  <td style="background-color: lightgray;">Description of Position & Activities 职位描述及相关活动介绍  </td>
									  <td colspan="4">	
										  {{a.activityDescription}}
									  </td>
									</tr> 
								  </tbody>
							  </table>
						  </div>
						</div>
					  </div>
				  </div>
				  </div>
				  <div id="skills" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td colspan="2">
									<p>比如：计算机语言: C (2 yrs ) C++ JAVA (5 yrs )Python; 统计软件SPSS, SAS, Stata; 经济学软件Eview;会计软件UFIDA, ERP; 金融终端 Bloomberg Reuters </p> <br> <b>写明使用的时间长短，是否精通</b> 
								</td>
							</tr>
						  <tr>
							<td >Language Ability 语言能力</td>
							<td style="width: 900px;">	
								<input class="form-control" id="Language" value="{{student.Language}}" [(ngModel)]="Language"  name="Language" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						  <tr>
							<td >Computer Skills 计算机技能</td>
							<td style="width: 900px;">	
								<input class="form-control" id="ComputerSkills" value="{{student.ComputerSkills}}" [(ngModel)]="ComputerSkills"  name="ComputerSkills" style="width: 800px;" disabled="">
	
							</td>
						  </tr>
						  <tr>
							<td >Other Skills & Certificates <br> 其他技能和证书 <br><small class="form-text text-muted">证书: CFA CPA 证券资格证等</small></td>
							<td style="width: 900px;">	
								<input class="form-control" id="OtherSkills" value="{{student.OtherSkills}}" [(ngModel)]="OtherSkills"  name="OtherSkills" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						  <tr>
							<td >Hobbies 爱好 <br><small class="form-text text-muted">如： 10年的钢琴舞台演出经历， 6年书法训练获全国级奖项10次</small></td>
							<td style="width: 900px;">	
								<input class="form-control" id="Hobbies" value="{{student.Hobbies}}" [(ngModel)]="Hobbies"  name="Hobbies" style="width: 800px;" disabled="">
	
							</td>
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="interest" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td >
									<b>Why do you choose the major you are applying for? What specific branch or concentration are you most interested in?
										为什么申请本专业？感兴趣的具体研究方向是什么？ (专业术语请尽量用英文全称表示，不要用缩略语。字数越多越好)
									</b>
									<p>例如：受到【家庭背景，名人著作，某段特殊经历，等等】的影响，对【某具体专业方向】产生研究兴趣。 </p>
								</td>
							</tr>
						  <tr>
							<td >	
								<input class="form-control" id="Professional1" value="{{student.Professional1}}" [(ngModel)]="Professional1"  name="Professional1" style="width: 800px; height: 30px;" disabled="" >
							</td>	
						  </tr>
						  <tr>
							<td > <b>What is the biggest advantage and disadvantage for you to apply for this major?
								你认为你申请本专业的最大优势和弱势是什么？弱势方面你是如何改进的？</b> 
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="Professional2" value="{{student.Professional2}}" [(ngModel)]="Professional2"  name="Professional2" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						  <tr>
							<td >If you intend to change your major, please give your reasons in details.
								如果你是转专业申请，阐述转专业的理由 
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="Professional3" value="{{student.Professional3}}" [(ngModel)]="Professional3"  name="Professional3" style="width: 800px;" disabled="">
							</td>	
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="career" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td >
									<b>Why do you choose to pursue your degree in the US? Any study plans?
										为何选择去美国攻读硕士/博士学位？你的学习计划，目标等？
									</b>
								</td>
							</tr>
						  <tr>
							<td >	
								<input class="form-control" id="CareerPlan1" value="{{student.CareerPlan1}}" [(ngModel)]="CareerPlan1"  name="CareerPlan1" style="width: 800px; height: 30px;" disabled="" >
							</td>	
						  </tr>
						  <tr>
							<td > <b>What are your specific short-term and long-term goals? How will your graduate degree help you achieve your goals?
								【研究生毕业之后的职业目标】为什么现在就读这个学校能够帮助你达到你的短期和长期职业目标？</b> <br>
								<small class="form-text text-muted">请分成几步阐述你如何达到最终目标</small><br>
								<small class="form-text text-muted">①毕业后：进入xxx行业 担任什么职位 【短期：靠谱可行的计划】（可以查查linkedin或者indeed）</small><br>
								<small class="form-text text-muted">为什么喜欢你选择的工作？你认为自己目前的性格/能力哪里适合这份工作？</small><br>
								<small class="form-text text-muted">②3-5年  掌握xx技能，从事什么方面工作，或者升职</small><br>
								<small class="form-text text-muted">③5-10年 是否成为某一行业高管或者其他高级职位？ 【长期：远大的志向和抱负】</small>
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="CareerPlan2" value="{{student.CareerPlan2}}" [(ngModel)]="CareerPlan2"  name="CareerPlan2" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="strength" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td >
									<b>个人成就Most Significant Accomplishment
										成长过程中，最自豪的事是什么？克服过怎样的困难？是如何克服的？（专业学习上或生活中）
									</b><br>
									<small class="form-text text-muted">如果【个人成就】的事例是发生在实习工作中，请相应地填写在Part4. 不需要重复填写</small><br>
									<small class="form-text text-muted" style="color:red">例如：体现leadership的事例。即你在工作和活动中是怎样影响一个人，小组或者组织机构的。这件事对你或者其他人有什么价值? 
										或者，体现Diversity的事例。举例证明你的特质与众不同，能够给学校做出特别的贡献。</small><br>
								</td>
							</tr>
						  <tr>
							<td >	
								<input class="form-control" id="Strength1" value="{{student.Strength1}}" [(ngModel)]="Strength1"  name="Strength1" style="width: 800px; height: 30px;" disabled="" >
							</td>	
						  </tr>
						  <tr>
							<td > <b>其他经历或信息Is there any other relative experience or information helpful for your application? 
								其它任何对申请有用的相关经历和信息？
								</b> <br>
								<small class="form-text text-muted">注：例如本科期间值得提及的对申请有利的其它经历，或你的性格特征，特长（音乐、体育方面），兴趣爱好对于学习或职业规划的促进作用等。</small><br>
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="Strength2" value="{{student.Strength2}}" [(ngModel)]="Strength2"  name="Strength2" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="family" class="tab-pane fade">
					<hr>
					<form id="form2" action="" method="post">
					<table class="table table-bordered" >
						<tbody>
						  <tr>
							<td ></td>
							<td >	
								Father 父亲
							</td>
							<td >Mother 母亲</td>
						  </tr>
						  <tr>
							<td >姓名 <br> <small class="form-text text-muted">如是英文姓名，名字在前，姓氏在后</small></td>
							<td >	
								<input class="form-control" id="MomName" value="{{student.MomName}}" [(ngModel)]="MomName"  name="MomName" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatName" value="{{student.FatName}}" [(ngModel)]="FatName"  name="FatName" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Address 家庭住址 <br> <small class="form-text text-muted">请填写英文地址，并包含邮编。</small></td>
							<td >	
								<input class="form-control" id="MomAddress" value="{{student.MomAddress}}" [(ngModel)]="MomAddress"  name="MomAddress" style="width: 400px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatAddress" value="{{student.FatAddress}}" [(ngModel)]="FatAddress"  name="FatAddress" style="width: 400px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Organization Name & Address 所在公司名称与地址<br> <small class="form-text text-muted">公司地址请提供英文地址，并包含邮箱</small></td>
							<td >	
								<input class="form-control" id="MomOrganazation" value="{{student.MomOrganazation}}" [(ngModel)]="MomOrganazation"  name="MomOrganazation" style="width: 400px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatOrganazation" value="{{student.FatOrganazation}}" [(ngModel)]="FatOrganazation"  name="FatOrganazation" style="width: 400px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Position 职务 </td>
							<td >	
								<input class="form-control" id="MomJob" value="{{student.MomJob}}" [(ngModel)]="MomJob"  name="MomJob" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatJob" value="{{student.FatJob}}" [(ngModel)]="FatJob"  name="FatJob" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Level of Education 最高学历 </td>
							<td >	
								<input class="form-control" id="MomEducation" value="{{student.MomEducation}}" [(ngModel)]="MomEducation"  name="MomEducation" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatEducation" value="{{student.FatEducation}}" [(ngModel)]="FatEducation"  name="FatEducation" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >School Name 毕业学校</td>
							<td >	
								<input class="form-control" id="MomSchool" value="{{student.MomSchool}}" [(ngModel)]="MomSchool"  name="MomSchool" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatSchool" value="{{student.FatSchool}}" [(ngModel)]="FatSchool"  name="FatSchool" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Year of Graduation 毕业时间</td>
							<td >	
								<input class="form-control" id="MomGraduation" value="{{student.MomGraduation}}" [(ngModel)]="MomGraduation"  name="MomGraduation" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatGraduation" value="{{student.FatGraduation}}" [(ngModel)]="FatGraduation"  name="FatGraduation" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Phone 电话 </td>
							<td >	
								<input class="form-control" id="MomPhone" value="{{student.MomPhone}}" [(ngModel)]="MomPhone"  name="MomPhone" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatPhone" value="{{student.FatPhone}}" [(ngModel)]="FatPhone"  name="FatPhone" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Email  邮箱  </td>
							<td >	
								<input class="form-control" id="MomEmail" value="{{student.MomEmail}}" [(ngModel)]="MomEmail"  name="MomEmail" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatEmail" value="{{student.FatEmail}}" [(ngModel)]="FatEmail"  name="FatEmail" style="width: 200px;" disabled="">
							</td>
						  </tr>
						</tbody>
					</table>
					</form>
				  </div>
				</div>
			  </div>
		  </div>
		</div>
	</div>

