<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >{{student.firstName}} {{student.lastName}}</a>
      </div>
      <div class="nav  navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="studentmain(student)">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              推荐人 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="rec(student)">全部推荐人信息</a></li>
              <li><a (click)="addRecom(student)">添加新的推荐人</a></li>
            </ul>
          </li>
          <li class="nav navbar-nav navbar-right">
            <a href="/mainpage">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	  <div class="container-fluid">
		<div class="row content">
		  <div class="col-sm-3 sidenav">
			  <h3></h3>
			<ul class="nav nav-pills nav-stacked">
			  <li ><a (click)="studentmain(student)">申请状态</a></li>
				<li ><a >更改密码</a></li>
				<li class="active"><a >个人信息</a></li>
				<li ><a (click)="resume(student)">简历信息</a></li>
				<li><a (click)="rec(student)">推荐人信息</a></li>
				<li><a (click)="addRecom(student)">添加推荐人</a></li>
				<li><a (click)="studentinterview(student)">面试题库</a></li>
				<li><a (click)="studentaddinte(student)">贡献面试题目</a></li>
			</ul><br>	
		  </div>
	  
		  <div class="col-sm-9">
			<div class="container">
				<h2>{{student.firstName}} {{student.lastName}}</h2>
				<div class="row">
					<div class="col-sm-10">
						<p>请尽量完善填写个人信息，对文书和简历的创作很重要</p>
					</div>
					<div class="col-sm-2">
						<input type="button" id="modifyPersonal" (click)="modifyPersonal()" value="修改信息" class="btn btn-primary  " >
						<input type="button" id="updatePersonal" disabled="" (click)="updatePersonal()" value="确定修改" class="btn btn-primary" >
					</div>
					
				</div>
				
				<ul class="nav nav-pills">
				  <li class="active"><a data-toggle="pill" href="#personal">个人信息</a></li>
				  <li><a data-toggle="pill" href="#standardtest">标准考试</a></li>
				  <li><a data-toggle="pill" href="#interest">专业兴趣</a></li>
				  <li><a data-toggle="pill" href="#career">职业规划</a></li>
				  <li><a data-toggle="pill" href="#strength">个人优势</a></li>
				  <li><a data-toggle="pill" href="#family">家庭信息</a></li>
				</ul>
				
				<div class="tab-content">
				  <div id="personal" class="tab-pane fade in active">
					<hr>
					<form id="form1" action="" method="post">
					<table class="table table-bordered" >
						<tbody>
						  <tr>
							<td >名字 Firstname</td>
							<td >	
								<input class="form-control" id="firstName" value="{{student.firstName}}" [(ngModel)]="firstName"  name="firstName" style="width: 200px;" disabled="">
							</td>
							<td >姓氏 Lastname</td>
							<td ><input class="form-control" id="lastName" value="{{student.lastName}}" [(ngModel)]="lastName"  name="lastName" style="width: 200px;" disabled=""></td>
							<td >性别 Gender</td>
							<td><input class="form-control" id="gender" value="{{student.gender}}" [(ngModel)]="gender"  name="gender" style="width: 200px;" disabled=""></td>
						  </tr>
						  <tr>
							<td >出生年月日 dob</td>
							<td >	
								<input class="form-control" id="dob" value="{{student.dob}}" [(ngModel)]="dob"  name="dob" style="width: 200px;" disabled="">
								<small class="form-text text-muted">格式为MM/DD/YYYY</small>
							</td>
							<td >现住址 currentAddress	</td>
							<td colspan="3"><input class="form-control" id="currentAddress" value="{{student.currentAddress}}" [(ngModel)]="currentAddress"  name="currentAddress" style="width: 600px;" disabled="">
								<small class="form-text text-muted">请填写英文地址，并包含邮编。</small></td>
						  </tr>
						  <tr>
							<td >国籍</td>
							<td >	
								<input class="form-control" id="citizen" value="{{student.citizen}}" [(ngModel)]="citizen"  name="citizen" style="width: 200px;" disabled="">
							</td>
							<td >永久居住地址 Permanent Address</td>
							<td colspan="3"><input class="form-control" id="permanentAddress" value="{{student.permanentAddress}}" [(ngModel)]="permanentAddress"  name="permanentAddress" style="width: 600px;" disabled="">
								<small class="form-text text-muted">请填写英文地址，并包含邮编。</small></td>
						  </tr>
						  <tr>
							<td >电话 Cellphone</td>
							<td >	
								<input class="form-control" id="phone" value="{{student.phone}}" [(ngModel)]="phone"  name="phone" style="width: 200px;" disabled="">
							</td>
							<td >邮箱 Email</td>
							<td ><input class="form-control" id="email" value="{{student.email}}" [(ngModel)]="email"  name="email" style="width: 200px;" disabled=""></td>
							<td >SSN </td>
							<td><input class="form-control" id="ssn" value="{{student.ssn}}" [(ngModel)]="ssn"  name="ssn" style="width: 200px;" disabled=""></td>
						  </tr>
						  <tr>
							<td >护照号 Passport</td>
							<td colspan="2">	
								<input class="form-control" id="passport" value="{{student.passport}}" [(ngModel)]="passport"  name="passport" style="width: 200px;" disabled="">
							</td>
							<td >美签号码 Visa Number</td>
							<td colspan="2"><input class="form-control" id="visa" value="{{student.visa}}" [(ngModel)]="visa"  name="visa" style="width: 200px;" disabled=""></td>
						  </tr>
						  <tr>
							<td >用于申请的邮箱 Email</td>
							<td colspan="2">	
								<input class="form-control" id="appEmail" value="{{student.appEmail}}" [(ngModel)]="appEmail"  name="appEmail" style="width: 200px;" disabled="">
							</td>
							<td >用于申请的邮箱密码 Password</td>
							<td colspan="2"><input class="form-control" id="appPsw" value="{{student.appPsw}}" [(ngModel)]="appPsw"  name="appPsw" style="width: 200px;" disabled=""></td>
						  </tr> 
						</tbody>
					</table>
					</form>
				  </div>
				  <div id="standardtest" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td colspan="10">
									<h4>TOEFL/IELTS</h4> <small class="form-text text-muted">如果是IELTS成绩，请在总分中标记</small>
								</td>
							</tr>
						  <tr>
							<td >总分 Total Score</td>
							<td >	
								<input class="form-control" id="TOEFL" value="{{student.TOEFL}}" [(ngModel)]="TOEFL"  name="TOEFL" style="width: 80px;" disabled="">
							</td>
							<td >阅读 Reading</td>
							<td ><input class="form-control" id="TOEFLR" value="{{student.TOEFLR}}" [(ngModel)]="TOEFLR"  name="TOEFLR" style="width: 50px;" disabled=""></td>
							<td >听力 Listening</td>
							<td><input class="form-control" id="TOEFLL" value="{{student.TOEFLL}}" [(ngModel)]="TOEFLL"  name="TOEFLL" style="width: 50px;" disabled=""></td>
							<td >口语 Speaking</td>
							<td ><input class="form-control" id="TOEFLS" value="{{student.TOEFLS}}" [(ngModel)]="TOEFLS"  name="TOEFLS" style="width: 50px;" disabled=""></td>
							<td >写作 Writing</td>
							<td><input class="form-control" id="TOEFLW" value="{{student.TOEFLW}}" [(ngModel)]="TOEFLW"  name="TOEFLW" style="width: 50px;" disabled=""></td>
						  </tr>
						  <tr>
							<td colspan="10">
								<h4>GRE</h4> <small class="form-text text-muted">如果没有考过GRE可以不填写</small>
							</td>
						  </tr>
						  <tr>
							<td >总分 Total Score</td>
							<td >	
								<input class="form-control" id="GRE" value="{{student.GRE}}" [(ngModel)]="GRE"  name="GRE" style="width: 80px;" disabled="">
							</td>
							<td >Verbal</td>
							<td ><input class="form-control" id="GREV" value="{{student.GREV}}" [(ngModel)]="GREV"  name="GREV" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GREVP" value="{{student.GREVP}}" [(ngModel)]="GREVP"  name="GREVP" style="width: 80px;" disabled="">
							</td>
							<td >Quantitative</td>
							<td ><input class="form-control" id="GREQ" value="{{student.GREQ}}" [(ngModel)]="GREQ"  name="GREQ" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GREQP" value="{{student.GREQP}}" [(ngModel)]="GREQP"  name="GREQP" style="width: 80px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td colspan="2" ></td>
							<td >Analytical Writing</td>
							<td ><input class="form-control" id="GREW" value="{{student.GREW}}" [(ngModel)]="GREW"  name="GREW" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GREWP" value="{{student.GREWP}}" [(ngModel)]="GREWP"  name="GREWP" style="width: 80px;" disabled="">
							</td>
							<td colspan="4"></td>
						  </tr>
						  <tr>
							<td colspan="10">
								<h4>GMAT</h4> <small class="form-text text-muted">如果没有考过GMAT可以不填写</small>
							</td>
						  </tr>
						  <tr>
							<td >总分 Total Score</td>
							<td >	
								<input class="form-control" id="GMAT" value="{{student.GMAT}}" [(ngModel)]="GMAT"  name="GMAT" style="width: 80px;" disabled="">
							</td>
							<td >Verbal</td>
							<td ><input class="form-control" id="GMATV" value="{{student.GMATV}}" [(ngModel)]="GMATV"  name="GMATV" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATVP" value="{{student.GMATVP}}" [(ngModel)]="GMATVP"  name="GMATVP" style="width: 80px;" disabled="">
							</td>
							<td >Quantitative</td>
							<td ><input class="form-control" id="GMATQ" value="{{student.GMATQ}}" [(ngModel)]="GMATQ"  name="GMATQ" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATQP" value="{{student.GMATQP}}" [(ngModel)]="GMATQP"  name="GMATQP" style="width: 80px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td colspan="2" ></td>
							<td >Analytical Writing</td>
							<td ><input class="form-control" id="GMATW" value="{{student.GMATW}}" [(ngModel)]="GMATW"  name="GMATW" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATWP" value="{{student.GMATWP}}" [(ngModel)]="GMATWP"  name="GMATWP" style="width: 80px;" disabled="">
							</td>
							<td >Reasoning</td>
							<td ><input class="form-control" id="GMATR" value="{{student.GMATR}}" [(ngModel)]="GMATR"  name="GMATR" style="width: 80px;" disabled="">
							</td>
							<td >Percentile</td>
							<td ><input class="form-control" id="GMATRP" value="{{student.GMATRP}}" [(ngModel)]="GMATRP"  name="GMATRP" style="width: 80px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td colspan="2">
								<h4>Others</h4> 
							</td>
							<td colspan="8">
								<input class="form-control" id="OtherStandardTest" value="{{student.OtherStandardTest}}" [(ngModel)]="OtherStandardTest"  name="OtherStandardTest" style="width: 900px;" disabled="">
							</td>
						  </tr>
						  
						</tbody>
					</table>
					
				  </div>

				  <div id="interest" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td >
									<b>Why do you choose the major you are applying for? What specific branch or concentration are you most interested in?
										为什么申请本专业？感兴趣的具体研究方向是什么？ (专业术语请尽量用英文全称表示，不要用缩略语。字数越多越好)
									</b>
									<p>例如：受到【家庭背景，名人著作，某段特殊经历，等等】的影响，对【某具体专业方向】产生研究兴趣。 </p>
								</td>
							</tr>
						  <tr>
							<td >	
								<input class="form-control" id="Professional1" value="{{student.Professional1}}" [(ngModel)]="Professional1"  name="Professional1" style="width: 800px; height: 30px;" disabled="" >
							</td>	
						  </tr>
						  <tr>
							<td > <b>What is the biggest advantage and disadvantage for you to apply for this major?
								你认为你申请本专业的最大优势和弱势是什么？弱势方面你是如何改进的？</b> 
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="Professional2" value="{{student.Professional2}}" [(ngModel)]="Professional2"  name="Professional2" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						  <tr>
							<td >If you intend to change your major, please give your reasons in details.
								如果你是转专业申请，阐述转专业的理由 
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="Professional3" value="{{student.Professional3}}" [(ngModel)]="Professional3"  name="Professional3" style="width: 800px;" disabled="">
							</td>	
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="career" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td >
									<b>Why do you choose to pursue your degree in the US? Any study plans?
										为何选择去美国攻读硕士/博士学位？你的学习计划，目标等？
									</b>
								</td>
							</tr>
						  <tr>
							<td >	
								<input class="form-control" id="CareerPlan1" value="{{student.CareerPlan1}}" [(ngModel)]="CareerPlan1"  name="CareerPlan1" style="width: 800px; height: 30px;" disabled="" >
							</td>	
						  </tr>
						  <tr>
							<td > <b>What are your specific short-term and long-term goals? How will your graduate degree help you achieve your goals?
								【研究生毕业之后的职业目标】为什么现在就读这个学校能够帮助你达到你的短期和长期职业目标？</b> <br>
								<small class="form-text text-muted">请分成几步阐述你如何达到最终目标</small><br>
								<small class="form-text text-muted">①毕业后：进入xxx行业 担任什么职位 【短期：靠谱可行的计划】（可以查查linkedin或者indeed）</small><br>
								<small class="form-text text-muted">为什么喜欢你选择的工作？你认为自己目前的性格/能力哪里适合这份工作？</small><br>
								<small class="form-text text-muted">②3-5年  掌握xx技能，从事什么方面工作，或者升职</small><br>
								<small class="form-text text-muted">③5-10年 是否成为某一行业高管或者其他高级职位？ 【长期：远大的志向和抱负】</small>
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="CareerPlan2" value="{{student.CareerPlan2}}" [(ngModel)]="CareerPlan2"  name="CareerPlan2" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="strength" class="tab-pane fade">
					<hr>
					<table class="table table-bordered" >
						<tbody>
							<tr>
								<td >
									<b>个人成就Most Significant Accomplishment
										成长过程中，最自豪的事是什么？克服过怎样的困难？是如何克服的？（专业学习上或生活中）
									</b><br>
									<small class="form-text text-muted">如果【个人成就】的事例是发生在实习工作中，请相应地填写在Part4. 不需要重复填写</small><br>
									<small class="form-text text-muted" style="color:red">例如：体现leadership的事例。即你在工作和活动中是怎样影响一个人，小组或者组织机构的。这件事对你或者其他人有什么价值? 
										或者，体现Diversity的事例。举例证明你的特质与众不同，能够给学校做出特别的贡献。</small><br>
								</td>
							</tr>
						  <tr>
							<td >	
								<input class="form-control" id="Strength1" value="{{student.Strength1}}" [(ngModel)]="Strength1"  name="Strength1" style="width: 800px; height: 30px;" disabled="" >
							</td>	
						  </tr>
						  <tr>
							<td > <b>其他经历或信息Is there any other relative experience or information helpful for your application? 
								其它任何对申请有用的相关经历和信息？
								</b> <br>
								<small class="form-text text-muted">注：例如本科期间值得提及的对申请有利的其它经历，或你的性格特征，特长（音乐、体育方面），兴趣爱好对于学习或职业规划的促进作用等。</small><br>
							</td>
						  </tr>
						  <tr>
							<td >	
								<input class="form-control" id="Strength2" value="{{student.Strength2}}" [(ngModel)]="Strength2"  name="Strength2" style="width: 800px;" disabled="">
	
							</td>	
						  </tr>
						</tbody>
					</table>
				  </div>
				  <div id="family" class="tab-pane fade">
					<hr>
					<form id="form2" action="" method="post">
					<table class="table table-bordered" >
						<tbody>
						  <tr>
							<td ></td>
							<td >	
								Father 父亲
							</td>
							<td >Mother 母亲</td>
						  </tr>
						  <tr>
							<td >姓名 <br> <small class="form-text text-muted">如是英文姓名，名字在前，姓氏在后</small></td>
							<td >	
								<input class="form-control" id="MomName" value="{{student.MomName}}" [(ngModel)]="MomName"  name="MomName" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatName" value="{{student.FatName}}" [(ngModel)]="FatName"  name="FatName" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Address 家庭住址 <br> <small class="form-text text-muted">请填写英文地址，并包含邮编。</small></td>
							<td >	
								<input class="form-control" id="MomAddress" value="{{student.MomAddress}}" [(ngModel)]="MomAddress"  name="MomAddress" style="width: 400px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatAddress" value="{{student.FatAddress}}" [(ngModel)]="FatAddress"  name="FatAddress" style="width: 400px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Organization Name & Address 所在公司名称与地址<br> <small class="form-text text-muted">公司地址请提供英文地址，并包含邮箱</small></td>
							<td >	
								<input class="form-control" id="MomOrganazation" value="{{student.MomOrganazation}}" [(ngModel)]="MomOrganazation"  name="MomOrganazation" style="width: 400px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatOrganazation" value="{{student.FatOrganazation}}" [(ngModel)]="FatOrganazation"  name="FatOrganazation" style="width: 400px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Position 职务 </td>
							<td >	
								<input class="form-control" id="MomJob" value="{{student.MomJob}}" [(ngModel)]="MomJob"  name="MomJob" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatJob" value="{{student.FatJob}}" [(ngModel)]="FatJob"  name="FatJob" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Level of Education 最高学历 </td>
							<td >	
								<input class="form-control" id="MomEducation" value="{{student.MomEducation}}" [(ngModel)]="MomEducation"  name="MomEducation" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatEducation" value="{{student.FatEducation}}" [(ngModel)]="FatEducation"  name="FatEducation" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >School Name 毕业学校</td>
							<td >	
								<input class="form-control" id="MomSchool" value="{{student.MomSchool}}" [(ngModel)]="MomSchool"  name="MomSchool" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatSchool" value="{{student.FatSchool}}" [(ngModel)]="FatSchool"  name="FatSchool" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Year of Graduation 毕业时间</td>
							<td >	
								<input class="form-control" id="MomGraduation" value="{{student.MomGraduation}}" [(ngModel)]="MomGraduation"  name="MomGraduation" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatGraduation" value="{{student.FatGraduation}}" [(ngModel)]="FatGraduation"  name="FatGraduation" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Phone 电话 </td>
							<td >	
								<input class="form-control" id="MomPhone" value="{{student.MomPhone}}" [(ngModel)]="MomPhone"  name="MomPhone" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatPhone" value="{{student.FatPhone}}" [(ngModel)]="FatPhone"  name="FatPhone" style="width: 200px;" disabled="">
							</td>
						  </tr>
						  <tr>
							<td >Email  邮箱  </td>
							<td >	
								<input class="form-control" id="MomEmail" value="{{student.MomEmail}}" [(ngModel)]="MomEmail"  name="MomEmail" style="width: 200px;" disabled="">
								
							</td>
							<td>
								<input class="form-control" id="FatEmail" value="{{student.FatEmail}}" [(ngModel)]="FatEmail"  name="FatEmail" style="width: 200px;" disabled="">
							</td>
						  </tr>
						</tbody>
					</table>
					</form>
				  </div>
				</div>
			  </div>
		  </div>
		</div>
	</div>

