<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >一个很神秘的网页</a>
    </div>
    <div class="nav  navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a (click)="main(hotel)">HomePage</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Shortcut <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="modifyP(hotel)">Change Password</a></li>
            <li><a (click)="comp(hotel)">Complete info</a></li>
            <li class="divider"></li>
            <li><a (click)="hotelman(hotel)">Manage Student</a></li>
            <li><a (click)="hmorder(hotel)">学生申请</a></li>
          </ul>
        </li>
        <li class="nav navbar-nav navbar-right">
          <a href="/mainpage">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ol class="breadcrumb">
    <li><a (click)="main(hotel)">Home</a></li>
    <li><a (click)="main(hotel)">{{hotel.userAccount}}</a></li>
    <li class="active">学生申请</li>
</ol>
<div class="container-fluid">
	<div class="row content">
	  <div class="col-sm-3 sidenav">
		<h4>{{hotel.userAccount}}  </h4>
		<ul class="nav nav-pills nav-stacked">
		  <li ><a (click)="main(hotel)">Home</a></li>
		  <li ><a (click)="modifyP(hotel)">Change Password</a></li>
			<li><a (click)="comp(hotel)">Complete info</a></li>
			<li><a (click)="hotelman(hotel)">Manage Student</a></li>
			<li class="active"><a (click)="hmorder(hotel)">学生申请</a></li>
			<li><a (click)="hmregister(hotel)">登记账号</a></li>
		</ul><br>
		
	  </div>
  
	  <div class="col-sm-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" colspan="5"><h3>
            申请项目总数：
            <small class="text-muted">{{school.length}}</small>
          </h3></th>
          <th scope="col" colspan="3">
            <form (submit)="sele(postForm)" #postForm="ngForm" ngNativeValidate>
              <div class="form-group" >
                选择学生：
               {{studentName}}
              </div>
            </form>
          </th>
          <th>
           
          </th>
          
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col" style="width:70px">States</th>
          <th scope="col" style="width:120px">Name</th>
          <th scope="col" style="width:100px">University</th>
          <th scope="col" style="width:100px">School</th>
          <th scope="col" style="width:150px">Major</th>
          <th scope="col" style="width:90px">Deadline 1</th>
          <th scope="col" style="width:90px">Deadline 2</th>
          <th scope="col" style="width:90px">Deadline 3</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody *ngIf="school.length > 0">
        <tr class="table-dark"  *ngFor="let s of school">
          <th scope="row">{{s.state}}</th>
          <td>{{s.userAccount}}</td>
          <td>{{s.univName}}</td>
          <td>{{s.schoolName}}</td>
          <td>{{s.majorName}}</td>
          <td>{{s.ddl1}}</td>
          <td>{{s.ddl2}}</td>
          <td>{{s.ddl3}}</td>
          <td><button href="/anew/todel/@a.id" (click)="hmschooldetail(s)">More</button>
            <button href="/anew/todel/@a.id" onclick="return confirm('你确定要删除这个申请吗?')" (click)="delete(s)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
	  </div>
	</div>
</div>
