body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #02351F;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .font-weight-normal {
    font-weight: 400!important;
  }
  .font-weight-normal {
    font-weight: 400!important;
  }
  
  .marketing .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;
  } 
  .marketing h2 {
    font-weight: 400;
  } 
  .marketing .col-lg-3 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .rounded-circle {
    border-radius: 50%!important;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #02351F;
    font-size: 50px;
  }
  .logo {
    color: #02351F;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: 1px;
    border-color: lightgray;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #02351F;
  }
  .carousel-indicators li {
    border-color: white;
  }
  .carousel-indicators li.active {
    background-color: white;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #02351F; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #02351F;
    background-color: #fff !important;
    color: #02351F;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #02351F !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: #02351F !important;
  }
 
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: white;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #02351F;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #02351F;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #02351F !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #02351F;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .caption{
    text-align: center;
  }


  .section-title h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

.section-title h4 {
    text-align: center;
}
.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #02351F;
    bottom: 0;
    left: calc(50% - 20px);
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

.pricing-header {
    max-width: 700px;
}
.text-center {
    text-align: center;
	
	position: relative;
	left: 50%;
	top: 76px;
	transform: translate(-50%,-50%);

}


body{
    margin-top:20px;
color: #6c7293;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 0;
}

.accordion .card {
    margin-bottom: .75rem;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: .25rem;
}
.accordion .card .card-header {
    background-color: transparent;
    border: none;
    padding: 2rem;
}
.grid-margin {
    margin-bottom: 0.625rem;
}
.accordion .card .card-header a[aria-expanded="true"]:before {
    content: "\F374";
}
.accordion .card .card-header a:before {
    font-family: "Material Design Icons";
    position: absolute;
    right: 7px;
    top: 0;
    font-size: 18px;
    display: block;
}
.accordion .card .card-header a[aria-expanded="false"]:before {
    content: "\F415";
}