<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <br>
              <h4 class="text-white">Michi Academy </h4>
              <p class="text-muted">申请系统登录入口</p>
              <br>
    
    
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <br>
              <form class="user" >
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                    id="login-user-account" aria-describedby="emailHelp"
                        placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                    id="login-user-password" placeholder="Password">
                </div>
              </form>
              <button type="button" class="btn" style="background-color: #02351F; color:white" (click)="checklogin()" data-dismiss="modal">Log In</button>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand">
                    <img src="https://i.ibb.co/zrhz7DH/Wechat-IMG5.jpg" alt="Wechat-IMG5" border="0" style="width: 20%;">
                </a>
                    
    
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a (click)="main()">关于我们</a></li>
                  <li><a (click)="class()" >王牌课程</a></li>
                  <li><a (click)="abroad()" >留学申请</a></li>
                  <li><a (click)="blog()">Blog</a></li>
                  <li>
                    <a data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        学生登录
                    </a>
                  </li>
                </ul>
              </div>
            </div>
    
    
        </nav>

<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">硕士申请 </h1>
	<p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <br>
    <!-- Container (滚动 Section) -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">
          <img class="rounded-circle" src="https://i.ibb.co/hWNssd6/3.png" alt="Generic placeholder image" width="140" height="140">
          <h2>背景</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="rounded-circle" src="https://i.ibb.co/t8QhdMZ/4.png" alt="Generic placeholder image" width="140" height="140">
          <h2>标化分数</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="rounded-circle" src="https://i.ibb.co/n0rX53V/1.png" alt="Generic placeholder image" width="140" height="140">
          <h2>GPA</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
		<div class="col-lg-3">
			<img class="rounded-circle" src="https://i.ibb.co/5sJPH5w/2.png" alt="Generic placeholder image" width="140" height="140">
			<h2>专业关联性</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		  </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <!-- Container (Blog Section) -->

  
 
<!-- Container (Q&A) Section) -->
<div class="section-title">
  <br>
  <h2>FAQ</h2>         
  <br>
  <h4>
  </h4>
</div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="panel-group" id="panel-35714">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-623008">申请美国硕士研究生的专业可以与大学所学的专业不同么？</a>
          </div>
          <div id="panel-element-623008" class="panel-collapse in">
            <div class="panel-body">
              可以，在任何大学硕士专业除某些及特别专业需要与学生本科专业有直接连贯性，一般专业通常来讲是可以与本科不同的。虽说本科学习的专业与硕士所学的专业通常来讲连贯性不是必须的，但是如果本科和硕士的专业存在连贯性会成为日后学习中一种优势。<br>
              举例：在美国医学专业是没有本科的，如果本科攻读生物类学科，那么部分交叉的知识架构会成为日后学习的助力。其次是学生可以获得更多加分点，招生官在对硕士的招收标准中本科专业也是考量因素的重要一环。
              <br>
              
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-175945">申请美国硕士研究生，能同时申请同一所学校的多个专业么？</a>
          </div>
          <div id="panel-element-175945" class="panel-collapse collapse">
            <div class="panel-body">
              可以，当学生选择专业的时候往往会出现对单一所学校的不同复数专业感兴趣，这个时候我们建议和鼓励学生同时申请这些有兴趣的专业，多点出击得到的回馈才能最大化。<br>
              但切记自己所定制的最主要目标，选择专业最主要不是种类丰富而是最适合自身的情况。
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-1">申请美国硕士研究生应该考GMAT还是GRE？</a>
          </div>
          <div id="panel-element-1" class="panel-collapse collapse">
            <div class="panel-body">
              最直接的回答为商科选择GMAT，文理科选择GRE <br>
            现在很多学校的专业对于GMAT或GRE一视同仁，最主要点在于学生在本科期间就要规划自己未来，尽早选择目标学校和专业是最明智的行动。根据目标学校的要求来选择需要考取的标准化考试类型是最保险的方法。
              <br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-2" href="#panel-element-2">我的 GMAT 或 GRE 成绩很高，这样一定会被我理想的大学和专业录取么？</a>
          </div>
          <div id="panel-element-2" class="panel-collapse collapse">
            <div class="panel-body">
              成绩高低并不是招生官看重的唯一条件，虽然成绩仍然是重要参考条件之一，但是校方的招生官会从多方面去考察学生，无论是学生提供的第三方推荐信或是学生的自我介绍信都是重要参考条件，更多考察点例如工作经验、学术背景、本科专业等都会成为决定的因素。
              
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-3" href="#panel-element-3">申请美国硕士研究生必须要工作经验么？ </a>
          </div>
          <div id="panel-element-3" class="panel-collapse collapse">
            <div class="panel-body">
              不是，通常来讲一般专业是不强制要求学生拥有相关全职工作经验，但是工作经验会作为申请的重要加分点。<br>
              举例：MBA的申请中工作经验占有招生官考量因素的一大部分，因为专业的特殊需求，工作经验或许会成为申请中重要的一环。<br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-4" href="#panel-element-4">作为热门专业商科MBA申请注重哪些点？</a>
          </div>
          <div id="panel-element-4" class="panel-collapse collapse">
            <div class="panel-body">

              <b style="font-size: 20px;color:#003520">硬性条件 </b><br>
              每一个录取委员一定会先对学生的各项成绩进行考察.而GMAT就是能够反应你综合能力的考试.它在申请中可以说是你的第一步，在整一个申请中占了20%-40%的比重。 <br><br>
              <b style="font-size: 20px;color:#003520">申请者的背景 </b><br>
              包括专业背景、任何专业在申请MBA时都是同一起跑线。不要认为自己不是出自名门大学，就抱有“自卑”心理，反而个人具有一定商业知识和经验会更好。 <br><br>
              <b style="font-size: 20px;color:#003520">工作经历</b><br>
              申请MBA专业如果没有丰富的工作经验，等于失去了最具杀伤力的武器。如果学生想被top大学录取，工作经验至少需要2至5年。<br><br>
              <b style="font-size: 20px;color:#003520">包装 </b><br>
              重点就是PS的包装和ESSAY的包装。成功申请MBA的案例中，其中会发现在他们ESSAY里面说的每一句话，所谈到的每一个经历，所解决的每一个问题都是体现着申请者的智慧所在。 <br><br>
              <b style="font-size: 20px;color:#003520">学校的选择</b><br>
              根据自己的实际情况进行定位。在这里要提醒学生并不要目光集中在前30的商学院。<br><br>

              <b style="font-size: 20px;color:#003520">MBA的学费问题</b><br>
              美国读MBA专业平均每年4万美元。但在美国，几乎每个人读MBA都有贷款，如果能够坚持生活，这类的贷款是可以在一年内还清的。当然读MBA投资回报率是相当高。每一位立志申请美国MBA的申请者，一定也要考虑到此问题。<br><br>
              <b style="font-size: 20px;color:#003520">签证因素 </b><br>
              因为申请美国MBA大多是申请者自己自费或半自费，所以签证官很难相信他们有足够的经费过去美国留学。这就要讲求在签证时，要用到的策略了，坚信一点实事求是，过硬的申请背景会让学生一路无阻。 <br><br>
              <b style="font-size: 20px;color:#003520">MBA学习目标问题</b><br>
              MBA专业不是单一的让学生去攻读一个学位，它是教会一个人如何面对社会，如何与人打交道，与资产打交道。培养的是将来某一企业的领导者。要学习如何改变看问题的角度，学习改变观念和意识。<br><br>

              <b style="font-size: 20px;color:#003520">读MBA是留在美国还是回国的去向问题</b><br>
              这是许多申请者考虑的问题。回国内成功的机会并不比美国小，文化根深蒂固的差异，更多的申请者就在申读之前已经为自己回国发展做好了准备。<br><br>
              <b style="font-size: 20px;color:#003520">国际化MBA申请战略 </b><br>
              世界各国其实有很多教育水平很高的商学院。如果学生的背景并没有其他美国申请人那么强力，可以考虑他国的MBA项目，由于MBA的专业特殊和全球性，申请泛用性很高，这样就要客观的去为自己选择正确的方向，而不是盲目的追逐大国名牌。 <br><br>
              <b style="font-size: 20px;color:#003520">申请时机</b><br>
              第一第二第三轮哪一轮比较好，目前没有一个绝对的客观评价，根据自己的自身条件找到适合的申请时机才是最佳标准。<br><br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-5" href="#panel-element-5">关于硕士生的选校该如何判断？ </a>
          </div>
          <div id="panel-element-5" class="panel-collapse collapse">
            <div class="panel-body">
              在选校初期需要做出以下几点基本判断：<br><br>
              <b style="font-size: 20px;color:#003520">专业排名vs 综合排名</b><br>
              综合排名高就是我们传统意义上说的名校，但是综排是针对本科生的。如果usnews.com查看研究生院校的专业排名，就会发现Grad school的排名是分专业的。很多 “普通” 学校都有自己的强势专业。如综合排名100名之外的亚利桑那大学，信息系统专业全美排名第三。而辛辛那提大学的艺术和建筑系完全可以与哥伦比亚大学、纽约大学相抗衡。名不见经传的北达科他大学的航天飞行专业在美处于绝对领先位置。专排、综排双高肯定是理想选择；如果不能两全，是选择综排高专业一般的项目，还是选择名气小专业强的项目？ <br><br>

              <b style="font-size: 15px;color:#3B604F">专业排名高：学到真材实料、雇主口碑良好</b><br>
              如果要留美找工作，我们的建议是专业排名更重要。硕士项目是职业导向，关键是能得到优质的职业培训，学到专业知识。而专业排名高证明这个项目的师资、课程设置、毕业去向都更好。更重要的是，该学校项目在用人单位中肯定建立了良好的口碑，相关行业的校友资源也更优质，有利于在美国找工作。<br>
              <b style="font-size: 15px;color:#3B604F">综合排名高：氛围好、资源多</b><br>
              首先，常青藤名校部分硕士专业可能和前三名比起来时略水，但学校名声在外项目也不会太差。名校的优势就在于综合院校资源多，校园氛围好；（其他院系）大牛多，可以通过校园活动培养优质人脉资源。当然，最重要的原因是能头顶名校光环，有利于回国发展。<br><br>

              <b style="font-size: 20px;color:#003520">课程设置&具体方向  </b><br>
              从课程安排上就能看出这个项目是偏应用还是偏理论。比如哥大的TESOL项目要求两学期的practicum（教学实践），许多其他学校没有这样的实践课，就可能成为吸引学生的一个特色。不要一味看专业排名，课程设置要和适应自己的兴趣；具体方向的选择也要与自己的研究需求必须充分匹配。比如说，材料专业的申请者，如果去申请金属材料或是磁性材料等方向的话大部分学校都会有这样的分支，但是设置高分子材料这个小方向的学校会相对少一点，都知道西北大学的材料工程专业尤其好，但是是否有适合学生的专业更需要仔细考量，而不是大家一起去申请同一所学校。 <br><br>
              <b style="font-size: 20px;color:#003520">地理环境&工作机会   </b><br>
              地理位置上，东、西海岸学校多，城市大，经济更发达，工作需求更多。而两边的职场也有不同侧重，东海岸以纽约为代表，金融业更发达；西海岸以硅谷为核心，IT也更发达。如果倾向硕士读完打算马上工作，选大城市资源多；如果专心学术，那乡村地区干扰少，更适合安静学术。 <br><br>
              <b style="font-size: 20px;color:#003520">“自身条件”要满足“录取偏好”  </b><br>
              美国留学学校众多，每个学校的录取要求和录取偏好差异很大，且不同专业的研究生可能对申请者有非常细致的背景要求，而这些要求背后的素质一般是这所学校所重点强调的录取优势的取向。比如，对于申会计硕士的同学来说，一定要注意到有的学校的项目是招收非会计背景的学生，如University of North Carolina Chapel Hill和University of Wisconsin—Madison，这说明这两所学校重视会计学科专业交叉，那么其他专业突出优越的背景就会成为重点考量的素质；而有的学校严格要求招收本科是会计背景的同学如University of Notre Dame，则说明这所学校强调对会计本专业的深挖，那么本科会计背景的“纯度”就很重要。总之，“自身条件”要满足“录取偏好”才能提高命中率。 <br><br>

              <b style="font-size: 20px;color:#003520">总结贴士① 删掉肯定不去的   </b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;去掉那些负担不起的<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;去掉虽然合格但是校方不提供财政资助的学校<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;去掉那些不能满足个人需要的学校<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;去掉那些入学要求和学生的资格不符合的学校。<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;把选择缩小到那些符合你个人和职业需要，能负担得起，并且也符合入学要求的学校，最后列出申请的大学名单。<br><br>
              <b style="font-size: 20px;color:#003520">总结贴士② 做个数据对比表  </b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研究项目和设施，包括图书馆和电脑设施<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系的规模(学生和教师)以及学校的规模<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教师的资历<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校的认证情况，如果适用的话，系科的认证情况<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对课程与论文的要求<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;完成学位需要的时间<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录取要求包括要求的考试成绩，学位以及本科平均成绩<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学费，杂费和书费等<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;是否提供财政资助<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地点，住房选择，校园环境，气候和生活费用<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校是否有国际学生服务以及其他所需要的服务<br><br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-6">关于硕士生的选择专业该如何判断？ </a>
          </div>
          <div id="panel-element-6" class="panel-collapse collapse">
            <div class="panel-body">
              虽然硕士申请过程和本科申请无太大差异（如，写文书，求推荐信，考标准化考试），但不同之处是硕士申请要选专业并且不像本科那样转换度较高。那么究竟该如何决定申请什么专业？开始申请前，请考虑以下问题：<br><br>

              <b style="font-size: 20px;color:#003520">为什么留学深造 </b><br>
              如果你只是为了逃避找工作，那么留学读硕士也许不是一个明智的决定。研究生学校费用贵、消耗时间较长，应该要把这金钱与时间用在在值得的事情上：留学深造是为了学习职业必备技能，未来从事理想的职业。 <br><br>
              <b style="font-size: 20px;color:#003520">你的职业发展目标是什么</b><br>
              硕士项目本质就是为职业发展做准备，需要构思短期和长期目标。什么学位、项目最能达成目标？要从事该职业需要学习什么技能？要认真考虑，做好调查。 <br><br>
              <b style="font-size: 20px;color:#003520">职业目标的确立</b><br>
              究生学院专业划分很细而且最短的项目也要学一年；至少要结合以上几点选出自己感兴趣和有前景并适合发展的专业，同时，要结合学生本科阶段学习的课程和实习、工作经历。许多学生有个误区：硕士专业必须和本科专业一致，但很多项目是允许转专业的，只要满足一些基本的要求（大部分需求会明确的在官方网站中）。但有一点是肯定的：本科课程/实习/工作经历要和你申请的专业密切相关，因为招生官会考量申请人的教育背景是否对口以及申请的动机是否端正。<br><br>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>
<br>


  <!-- Container (Footer Section) -->
<div id="footer" class="panel-footer">
    <h2 class="text-center" style="color: white;">联系我们</h2>
    <br>
    <div class="container" style="color: white;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <p>联系方式</p>
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <address> <strong>Michi Academy Inc.</strong><br />  4199 Campus Dr, Suite 550<br /> Irvine, CA, 92612<br /> United States<br /></address>
                                </div>
                            </div>
                        </div>
                        <p><span class="glyphicon glyphicon-phone"></span>客服微信号: YuxinPREP</p>
                        <p><span class="glyphicon glyphicon-envelope"></span>邮件: YuxinPREP@gmail.com</p>
                    </div>
                    <div class="col-md-4 column">
                        <p>客服微信二维码</p>
                        <div class="container">
                            <img src="http://www.yxprep.com/assets/img/qr1.jpg" alt="Wechat-IMG5" border="0" style="width: 12%;">
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <p>公众号二维码</p>
                        <div class="container">
                            <img src="http://www.yxprep.com/assets/img/qr2.jpg" alt="Wechat-IMG5" border="0" style="width: 12%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

</body>