<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <br>
              <h4 class="text-white">Michi Academy </h4>
              <p class="text-muted">申请系统登录入口</p>
              <br>
    
    
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <br>
              <form class="user" >
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                    id="login-user-account" aria-describedby="emailHelp"
                        placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                    id="login-user-password" placeholder="Password">
                </div>
              </form>
              <button type="button" class="btn" style="background-color: #02351F; color:white" (click)="checklogin()" data-dismiss="modal">Log In</button>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand">
                    <img src="https://i.ibb.co/zrhz7DH/Wechat-IMG5.jpg" alt="Wechat-IMG5" border="0" style="width: 20%;">
                </a>
                    
    
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a (click)="main()">关于我们</a></li>
                  <li><a (click)="class()" >王牌课程</a></li>
                  <li><a (click)="abroad()" >留学申请</a></li>
                  <li><a (click)="blog()">Blog</a></li>
                  <li>
                    <a data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        学生登录
                    </a>
                  </li>
                </ul>
              </div>
            </div>
    
    
        </nav>

<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">本科申请 </h1>
	<p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <br>
    <!-- Container (滚动 Section) -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://i.ibb.co/g7XPSvb/2021-08-18-09-35-46.png" alt="Generic placeholder image" width="140" height="140">
          <h2>课外活动</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div>
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://i.ibb.co/0YJ4x0X/4.png"  alt="Generic placeholder image" width="140" height="140">
          <h2>进阶课程</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://i.ibb.co/vQ621hs/1.png" alt="Generic placeholder image" width="140" height="140">
          <h2>标化分数</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div>
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://i.ibb.co/88vhF85/3.png" alt="Generic placeholder image" width="140" height="140">
          <h2>GPA</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          
        </div>
      </div>
    </div>

    <!-- Container (Blog Section) -->

  
 
    <!-- Container (Blog Section) -->
    <div class="section-title">
      <br>
      <h2>FAQ</h2>         
      <br>
      <h4>
      </h4>
    </div>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="panel-group" id="panel-35714">
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-623008">美国本科学士学位留学申请常见条件是什么？</a>
              </div>
              <div id="panel-element-623008" class="panel-collapse in">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">非考试类</b>  <br>
                  填写申请表格，相应学籍毕业证书，学生在读证明，成绩单（需要官方翻译），推荐信（本科申请的推荐信的来源标准比较繁杂，但相比初高中更注重推荐信的名头和本身的背景内容），学生自我陈述（PS），申请论文（essay）<br><br>
                  <b style="font-size: 20px;color:#003520">标准化考试成绩 </b>  <br>
                  语言类：TOEFL-托福（推荐），IELTS-雅思 <br>
                  综合测试类：SAT（推荐）或ACT<br><br>
                  <b style="font-size: 20px;color:#003520">面试类 </b><br>
                  与高中不同，本科申请的面试大多是“锦上添花”，大多学校不会要求，但是有的专业会要求本科申请人进行官方面试。<br>
                  除了官方面试之外本科申请人同样可以选择以下几种面试作为提交材料，来增大录取几率，在这里请注意，一定要提醒学生面试不是重点，他的比重并不占本科申请的绝对地位，但是对申请名校的竞争中往往可以博得一席之地。 <br>
                  Vericant（第三方面试机构面试） <br>
                  InitialView（第三方面试机构面试） <br>
                  CIEE-CAI（第三方面试机构面试） <br>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-175945">美国大学本科的开学季一般如何划分？</a>
              </div>
              <div id="panel-element-175945" class="panel-collapse collapse">
                <div class="panel-body">
                  开学时间一年有两次，大多是秋季开学，一般集中在8、9月，具体开学时间自定，也有一些春季开学的学校，1月至3月居多。<br>
                  有一部分学校采取滚动开学制，此类学校大多每四个月作为一个新的学期的开始。不同学校开学都有差异。从申请到收到录取通知需要较长的周期，因此需要学生需要注意申请学校的时机，不要因为申请不及时而错过了自己期望的开学季。秋季学期是美国高校的招生“大季”。除了少数学科专业隔年招生外，一般的传统专业每年秋季都接待新生入学。申请秋季入学的好处比较多：<br><br>
                  <b style="font-size: 20px;color:#003520">好处1 </b><br>
                  这个入学时间和中国的秋季开学相似，中国申请人不会受两国学期设置不同造成时间上冲突，暑假有充分的时间准备签证和旅行，转学生和毕业生能够确保收到七月中旬发出来的春季学期成绩单，并及时提交给报考的美国高校。<br><br>
                  <b style="font-size: 20px;color:#003520">好处2 </b><br>
                  秋季入学专业最多，招生规模也比较大，留学生有很大的选择余地，可以根据需求报考自己心仪的学校和专业。<br><br>
                  <b style="font-size: 20px;color:#003520">好处3 </b><br>
                  秋季开学的美国高校都会为新生举办持续一两天甚至一周左右的新生入学培训。这个培训包含相关规章制度、财务、住宿、伙食、相关专业信息、校园交通和安全等等。深入细致的信息和辅导，能够最大限度的帮助新生了解校园和自己的院系，轻松融入学习环境中。 <br><br>

                  <b style="font-size: 20px;color:#003520">注意 </b><br>
                  报考秋季入学对于国内的申请人来讲也有一定的技术挑战。秋季入学的报名在美国各高校一般二、三月份就结束了，名校的截止日期往往更加提前，有的前一年十一、十二月就停止接受报考资料；这样一来，很多国内的学生需要一边完成自己在国内的学习一边准备语言考试和报名资料，对于想要报名同学的压力会比较大。还有，美国的高校要求报名者的“完整/最终”成绩单（Final Transcripts），指的是包含学生进入美国高校之前最近那个学期的成绩。然而由于留学生一般提早几个月甚至一年以上时间报考，多数情况下在读学生的本年春学期成绩单七月份之前根本出不来，也会造成一些麻烦。大部分的美国高校了解中国学期设置与美国的不同，会在最终成绩单的提交时间上给与一些宽容，允许学生先提交之前学期的官方成绩单，等到最终成绩单出来再进一步提交（个别学校除外）。春季学期开学招生的美国高校也不在少数，但秋季入学仍为高校招生的主流。 <br>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-1">申请美国大学本科，推荐信有多重要？ </a>
              </div>
              <div id="panel-element-1" class="panel-collapse collapse">
                <div class="panel-body">
                  很重要，在校方招生官面试学生之前并没有与学生面对面接触的机会，因此此类文书对学生的第一印象起到了重要的作用。其中由著名社会人士或学术人士所撰写的推荐信更成为了最大助力，学生往往可以通过课外研究或活动来获得此类机会，复数的推荐信是名校的硬性要求之一。 虽然说推荐信的名头很重要，但是其中的内容更为重要，切记要提醒学生不要在准备推荐信的时 候只是注重名头而“张冠李戴”，一封推荐信内容如白水，换了一个名字就变成了另外一个人，这样“通用性”的推荐信基本不会对学生申请起到任何帮助。如果可能推荐学生可以参与进推荐信撰写人的构思工作中（请注意，仅限构思，不能代写），学生可以提醒撰写人描写学生的哪一点亮点或者着重描写某一段和撰写人共同经营的研究课题，这些有具体性的内容更容易抓住招生官的内心。重点是招生官每年都将面临成千上万份申请，推荐信更是堆积如山。如何在短时间内抓住阅读招生官的注意是一封好的推荐信的重要衡量标准之一。一定要从内容和名头双管齐下，从名头吸引招生官的注意，从内容唤起招生管的兴趣，这样才能让人印象深刻。让人留下美好记忆的申请才是一个成功的申请

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-2" href="#panel-element-2">美国本科学士学位申请对申请人本人撰写的文书类材料要求是什么？</a>
              </div>
              <div id="panel-element-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">PS（Personal Statement 个人陈述）   </b><br>
                  通常第一次学生和招生官见面就是通过PS，顾名思义就是向学校进行自我介绍。要研究如何写PS，我们就要首先了解为什么美国大学要求提供PS。原因很简单，美国大学本科教育的目标是培养健全的“人”，而不是一般传统意义上的功用性的“人才”。因此，除了通过高中成绩和SAT分数了解学生的学习能力外，学校还需要了解作为一个社会公民的思想、价值观、独特经历以及未来规划。这一点，对于一些有着自身教育使命和价值观的学校，显得更加重要。毫无 疑问 PS给申请人提供了一个最好的展示自我的机会，也是申请人和录取委员会的所有招生成员进行深度沟通的重要渠道。<br><br>
                  <b style="font-size: 20px;color:#003520">Essay（申请短文） </b><br>
                  首先我们需要来辨别两个概念：PS和SUB Essays。SUB ESSAYs是指申请短文，它涵盖的更为广泛，它可能会要求学生就某些问题发表观点，或者要求学生描述生活中某些特殊的经历，这类似于一个有着严格命题的作文；而PS则没有明确的限制，可以写任何学生期望表达和展现的主题，倾向于自由发挥。在申请美国大学本科时，虽然某些学校可能只要PS，没有ESSAY要求，而另外一些学校，则可能不要PS，而只要求写几篇明确命题的ESSAYS，但一般的学校是既要PS，也要ESSAYS。凡是采用COMMON APPLICATION（美国大学申请第三方软件，请参考官方网站 http://www.commonapp.org/，通常学校申请短文的课题可以从本网站或者学校官网搜索获得）的学校，都可以理解成二者兼需。 

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-3" href="#panel-element-3">如何构建一个成功的美国本科申请计划？  </a>
              </div>
              <div id="panel-element-3" class="panel-collapse collapse">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">标化考试成绩   </b><br>
                  随着日渐激烈的申请竞争，标化考试成绩已经成为诸多高校申请的敲门砖，如何快速提升标化考试成绩，成为了申请学生的第一要务。针对标化考试可以推荐学生我们的标化考试冲刺服务）。  <br><br>
                  <b style="font-size: 20px;color:#003520">文书类申请材料   </b><br>
                  除了过硬的标化考试成绩之外文书是申请学生在申请圣战中过五关斩六将的第二关，上文提到了推荐信&Essays&PS，重点在于这三者并不是相对独立的个体，而是互相依存互相支撑的关系。构建一个好的申请文书架构重点在于如何让三者互相关联相互呼应，合格的文书材料并不是单独通过几次修改，改正了语法和内容就可以完成任务。其中需要学生花长时间的背景活动进行准备，将已经历的所有事情有重点有规划的放到文书之中，才能够算上一份合格的文书材料。关于背景提升方面需要学生花时间和经历去精心准备和用心体会期间发生的一切，将感悟和经过细心记录并总结才能成为有价值的文书素材。综上所述，学生的文书准备工作并不是面临递交申请的几个月才开始，真正的准备工作从学生开始打算留学的那一刻已经悄然开始。 <br><br>
                  <b style="font-size: 20px;color:#003520">申请案例-Hugo学生来自中国高中</b> <br>
                  Hugo同学希望申请纽约大学的工商管理专业（本科），Hugo同学拿出了1年半的时间来准备所有的申请工作。 <br>
                  学生最终达到了目标学校的标化考试成绩，并且通过一年半的努力，活动背景有了很大的提升。其中活动背景包括：<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;100小时的社区敬老院服务（持有社区敬老院颁发的志愿者证书）<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;模拟APEC会议一等奖（获取相关证书，由于表现突出和主办方负责人持续保持邮件往来）<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;纽约大学夏季企业家主题夏校（获取相关证书，由于表现突出和纽约大学商学院副教授持续保持邮件往来） <br>
                  进入申请冲刺阶段，开始梳理文书素材，从与学生持续保持邮件交流的人士中发现愿 意为学生提供申请推荐信的人，并且希望推荐下撰写人将学生当时参加活动的卓越表现一并写进 推荐信之中。由此推荐学生的所有申请文书可以围绕推荐信的活动主题展开撰写，这样推荐信&Essays&PS，三种文书材料互相发生关联，相互呼应，加上文书润色，可以作为一份合格的申请递交。 <br><br>
                  以上从大体上描述了申请构筑的流程。美国高校的申请不光有理性的介质，同时也有感性的判断。
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-4" href="#panel-element-4">什么是EA，ED，RA，RD？  </a>
              </div>
              <div id="panel-element-4" class="panel-collapse collapse">
                <div class="panel-body">
                  美国本科的录取有ED, EA, RD, RA 四种模式。这一轮轮的录取之间有什么差别？提前录取可以申 请几所学校？何时截止？何时出结果？申请要求、录取结果和录取方式各有什么不同？ 那么接下来就逐一解析ED, EA, RD, RA这四种录取模式“提前录取”分为“ED提前决定”和“EA提前行动”。有效利用ED和EA，既能向心仪的学校表明心意 ：”You are my first choice!”，从而提高录取成功率；同时也能帮助一些同学成功保底，提早拿到offer。  <br><br>

                  <b style="font-size: 20px;color:#003520">EARLY DECISION (ED)  </b><br>
                  提前决定Deadline。<br>
                  一般来说，ED1的截止日期是11月1日，ED2的截止日期是1月1日。与一所大学排他性的捆绑承诺。申请ED的同学，只能选择一所大学以ED的方式申请，意味着你做出这样的承诺：该大学是我的第一选择，如果该学校录取了我，我一定会报到入学，绝对唯一。当学生们申请ED的时候，在任何时间段，你只能有一所正在进行的ED申请，也就是说，你不能同时申请两个ED的学校。时不同，性质同。部分大学的ED有ED1，ED2之分，意即，你若被A大学的ED1拒绝，你可以再申请B大学的ED2。无论ED1还是ED2都遵循ED的绝对唯一和捆绑承诺的原则。可与EA巧妙同步。同学们可以同时申请其他学校的EA，但一定要是非绑定的EA。(关于EA请参考下文概述)与常规申请兼容。学生申请ED的时候，可以申请别的学校的常规录取，即RD。但是，一旦你被ED录取以后，你必须立即撤回正在进行的申请，也不能进行任何新的学校的申请。允许反悔条件。只有当你申请了需求奖学金(need-based financial aid)，但学校没有给你所要求的奖学金，你因为缺少资金而无法入学的条件下，你才有权利拒绝学校的ED录取。反悔的严重后果。被ED录取的学生，必须入学报到(可以以申请Gap year等方式延期入学)。违背ED协定的情况，比如同时申请了2所学校的ED，学校有权利取消你的ED资格甚至入学资格。 <br><br>
                  <b style="font-size: 20px;color:#003520">EARLY ACTION (EA)  </b><br>
                  提前行动Deadline。<br>
                  一般来说，EA的截止日期都是11月1日。无捆绑承诺。申请EA的学生，并不要求学生做出保证报到入学的承诺。学生一般要求在每年5月1日前答复是否接受此学校的录取结果Non-restrictive early action，没有任何排他性，即不限制你同时申请其他学校的提前申请，比如芝加哥大学的EA，乔治城大学的EA就是non-binding;但如果你选择的其他学校是Single-choice Early Action或Restrictive Early Action(REA)，比如耶鲁大学，你就必须遵守耶鲁的约定，不能再申请芝加哥大学的EA了。Single-choice Early Action和Restrictive Early Action是两种极其特殊的提前行动，是具有排他性的，即限制你申请其他学校的EA和ED。因此，你一旦选择了Single-choice Early Action和Restrictive Early Action，就不能再申请其他学校的ED、EA了巧妙保底。一般，我们在申请ED时，都选择的是自己最钟情的大学，是属于自己的Reach校(即你要十分努力，外加三分幸运才能够得着的学校)，而EA，我们可以非常巧妙地选择自己的Match校 (即自己的硬件条件，软件条件差不多能够得上的大学)，一旦录取，这个学校可以成为我们的保底校，有了offer做保底，心态是绝对不一样的！当EA被拒后，你可以申请第二轮的ED2以及RD。学生申请EA的时候，可以申请别的学校的正常录取RD，当你被EA录取以后，不必撤回正在进行的其他申请、也可以再做其他新的学校的RD申请。<br><br>
                  
                  “常规录取”分为“RD常规决定”和“RA滚动录取”： <br><br>
                  <b style="font-size: 20px;color:#003520">REGULAR DECISION (RD)常规决定  </b><br>
                  常规录取Regular Decision，一般来讲，录取的截止日期是次年的1月1日，得到结果的时间是次 年4月1日。常规录取无任何关于捆绑承诺和唯一排他的性质，可以同时申请多所大学的常规录取，录取后，可自行决定去或不去。 <br><br>
                  <b style="font-size: 20px;color:#003520">ROLLING ADMISSION (RA)滚动录取 </b><br>
                  在有空位的情况下接受申请。先到先审制；以循环方式，入学申请没有一定的截止日期，申请资料随时寄到就随时开始审核，以录满当年的名额限制为准。滚动申请无绑定、排他限制。
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-5" href="#panel-element-5">如何申请本科奖学金？ </a>
              </div>
              <div id="panel-element-5" class="panel-collapse collapse">
                <div class="panel-body">
                  在申请自己心仪大学初期就要连同奖学金的申请一同向学校发出，由于每所学校要求和手续不同，因此申请时间也不同。普遍方案为首先联系美国想要申请的大学发第一封咨询信，咨询对方是 否提供国际学生奖学金，如果对方提供那么申请资格要求是什么。对自己的背景和平时成绩做简述，首次联系时间至少应在准备入学前8个月。其次，参加托福雅思或ACT\SAT等必要的考试。考试成绩越好获得全额奖学金的机会就越大。再次，准备申请材料。整套申请材料包括：已填好的校方寄来、或网上下载的入学申请表，已填好的各种奖学金资助申请表以及财力证明表、成绩单、二至三封推荐信(根据申请要求而定)、中英文两份学习成绩单、简历、学习计划、学历证明等。<br>
                  本科奖学金的种类有哪几种？<br><br>
                  <b style="font-size: 20px;color:#003520">Need-Blind (资金需求无关)  </b><br>
                  美国大学执行资金需求无关的录取政策的，一般多为资金实力雄厚的私立大学。他们在录取学生的时候不考虑学生是否需要学校提供资助，也就是说学生申请奖学金与否对你的申请没有任何影响。<br><br>
                  <b style="font-size: 20px;color:#003520">Need-Based (资金需求有关)  </b><br>
                  这种情况下是说在申请大学时你的资金需求会影响你的录取机会。在申请need-based大学时需要根据自己的实力量力而行，如果提交的的数字过于偏高反而会带来负面的不良影响。<br><br>
                  <b style="font-size: 20px;color:#003520">Merit-Based ( 优秀奖学金)   </b><br>
                  此类奖学金一般发放给学业优异的学生。此类奖学金的名额一般不能完全满足学生的需要，此类奖学金更多的是起表彰的作用。
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <br>



  <!-- Container (Footer Section) -->
<div id="footer" class="panel-footer">
    <h2 class="text-center" style="color: white;">联系我们</h2>
    <br>
    <div class="container" style="color: white;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <p>联系方式</p>
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <address> <strong>Michi Academy Inc.</strong><br />  4199 Campus Dr, Suite 550<br /> Irvine, CA, 92612<br /> United States<br /></address>
                                </div>
                            </div>
                        </div>
                        <p><span class="glyphicon glyphicon-phone"></span>客服微信号: YuxinPREP</p>
                        <p><span class="glyphicon glyphicon-envelope"></span>邮件: YuxinPREP@gmail.com</p>
                    </div>
                    <div class="col-md-4 column">
                        <p>客服微信二维码</p>
                        <div class="container">
                            <img src="http://www.yxprep.com/assets/img/qr1.jpg" alt="Wechat-IMG5" border="0" style="width: 12%;">
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <p>公众号二维码</p>
                        <div class="container">
                            <img src="http://www.yxprep.com/assets/img/qr2.jpg" alt="Wechat-IMG5" border="0" style="width: 12%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

</body>