<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >{{student.firstName}} {{student.lastName}}</a>
      </div>
      <div class="nav  navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="studentmain(student) ">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              推荐人 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="rec(student)">全部推荐人信息</a></li>
              <li><a (click)="addRecom(student)">添加新的推荐人</a></li>
            </ul>
          </li>
          <li class="nav navbar-nav navbar-right">
            <a href="/mainpage">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
	<div class="row content">
	  <div class="col-sm-3 sidenav">
		  <h3></h3>
		<ul class="nav nav-pills nav-stacked">
		  <li ><a (click)="studentmain(student)">申请状态</a></li>
			<li ><a >更改密码</a></li>
			<li ><a (click)="info(student)">个人信息</a></li>
			<li ><a (click)="resume(student)">简历信息</a></li>
			<li ><a (click)="rec(student)">推荐人信息</a></li>
			<li  class="active"><a (click)="addRecom(student)">添加推荐人</a></li>
		</ul><br>	
	  </div>
  
	  <div class="col-sm-9">
		<div >

			<h3 align="center">推荐人信息</h3>
			<br> 
			<div class="container">
			
			  <form (submit)="addschool(postForm)" #postForm="ngForm" ngNativeValidate>

				
			  <table class="table  table-bordered">
				<tbody>
					<tr>
					  <td  > <b>名First Name</b> </td>
					  <td><div class="input-group">		
						<input class="form-control" id="firstName"  name="firstName"  placeholder="请输入推荐人名字" style="width: 400px;" ngModel required></div></td>
					  <td  ><b>姓Last Name</b></td>
					  <td><div class="input-group">		
						<input class="form-control" id="lastName"  name="lastName"  placeholder="请输入推荐人姓氏" style="width: 400px;"  ngModel required></div></td>
					</tr>
					<tr>
					  <td  ><b>性别 gender</b></td>
					  <td><div class="input-group">		
						<input class="form-control" id="gender"  name="gender"  placeholder="请输入推荐人性别" style="width: 400px;" ngModel required></div></td>
					  <td  ><b>职称 title</b></td>
					  <td><div class="input-group">		
						<input class="form-control" id="title"  name="title"  placeholder="请输入推荐人职称" style="width: 400px;" ngModel required></div></td>
					</tr>
					<tr>
					  <td   ><b>学历 Educational Qualification</b></td>
					  <td ><div class="input-group">		
						<input class="form-control" id="education"  name="education"  placeholder="请输入推荐人学历" style="width: 400px;" ngModel></div></td>
						<td  ><b>电话 Telephone</b></td>
						<td><div class="input-group">		
						  <input class="form-control" id="phone"  name="phone"   style="width: 400px;" ngModel></div></td>
					</tr>
					<tr>
						<td  ><b>所在单位 Organization</b></td>
						<td><div class="input-group">		
						  <input class="form-control" id="organization"  name="organization"  placeholder="如果是教授请填写学校名称" style="width: 400px;" ngModel required></div></td>
						<td  ><b>在此单位工作时间年限 Duration</b></td>
						<td><div class="input-group">		
						  <input class="form-control" id="duration"  name="duration"  placeholder="请输入数字即可" style="width: 400px;" ngModel></div></td>
					</tr>
					<tr>
						<td  ><b>职务 Position</b></td>
						<td><div class="input-group">		
						  <input class="form-control" id="position"  name="position"   style="width: 400px;" ngModel></div></td>
						<td  ><b>工作邮箱 Work Email</b></td>
						<td><div class="input-group">		
						  <input class="form-control" id="email"  name="email"  placeholder="请不要输入推荐人个人邮箱" style="width: 400px;" ngModel required></div></td>
					</tr>
					<tr>
						<td   colspan="1" ><b>通信地址 Postal Address</b></td>
						<td colspan="3"><div class="input-group">		
						  <input class="form-control" id="location"  name="location"  placeholder="请包含推荐人地址的 邮编" style="width: 800px;" ngModel required></div></td>
					</tr>

					<tr>
						<td   colspan="1" ><b>推荐人与申请者关系
							Relationship to the applicant</b>  </td>
						<td colspan="3"><div class="input-group">		
						<input class="form-control" id="relation"  name="relation"  placeholder="教授请填写 instructor，上司请填写supervisor，或填写其他" style="width: 800px;"   ngModel required></div></td>
					</tr>
					<tr>
						<td   colspan="4" ><b>以时间为序描写推荐人与被推荐人关系发展，并说明你们的熟悉程度。具体填写信息可以参考下方FAQ部分</b> <br>
							<p style="color:red">如果是教过你课程的老师，请填写 课程的中/英文名称（例如 CS4100 Web Design），上课时间区间（例如 FALL 2019），你的那门课程考试结果如何（如分数 A，排名5%等等）</p> 
							  </td>
					</tr>
					<tr>
						<td colspan="4"  align="center"><div class="input-group">		
							<input class="form-control" id="other"  name="other"  style="width: 1000px; height:100px"  ngModel></div>
							  </td>
					</tr>
					<tr>
						<td   colspan="3" > <p style="color:red"><b>请确保信息无误，如邮箱是否正确，First Name 和 Last Name 是否填反。提交后不可更改</b> </p>  </td>
						<td colspan="1"  align="center"><button  class="btn btn-primary" >添加</button>
							  </td>
					</tr>
				  </tbody>
			  </table>
			</form>
			</div> 
		</div>

		<!-- Container (Q&A) Section) -->
<div class="section-title">
	<br>
	<h2>FAQ</h2>         
	<br>
	<h4>
	</h4>
  </div>
  <div class="container">
	<div class="row clearfix">
	  <div class="col-md-12 column">
		<div class="panel-group" id="panel-35714">
		  <div class="panel panel-default">
			<div class="panel-heading">
			   <a class="panel-title" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-623008">是否参与过office hour？
				</a>
			</div>
			<div id="panel-element-623008" class="panel-collapse in">
			  <div class="panel-body">
				如果有可以注明频率 和 office hour当中教授如何帮你解决问题 <br>
				<br>
				<b style="font-size: 20px;color:#003520">例子 </b><br>
				在上World Politics课时，每次去他的Office hour排队的学生都很多。但他都很耐心的回答所有学生的问题，当时写paper的时候就特别迷茫&焦虑。就多亏了教授当时帮我事无巨细的看我的paper draft，给我建议。比如，一个新的外交政策会给全球经济带来多大的变化。之前思考经济的时候主要局限在domestic Market，主要分析supply and demand的变化。 <br>
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">
			   <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-175945">课上和教授的互动有哪些？</a>
			</div>
			<div id="panel-element-175945" class="panel-collapse collapse">
			  <div class="panel-body">
				
				<b style="font-size: 20px;color:#003520">例子1 </b><br>
				从最开始的Classical Liberal Era，到一二战时的零交易，再到现在的高度Globalized Market。在和教授讨论全球贸易的分分合合，我才觉得International Relation and Government Policy会更大程度的影响domestic Market <br><br>
				<b style="font-size: 20px;color:#003520">例子2 </b><br>
				课堂内互动比较多的数学课 老师安排了很多 学生与学生之间的discussion， 讨论一些数学问题。课堂非常有趣，因为有很多证明题，会让我们对本来掌握的知识有更深入的了解，知道一些定理是怎么来的。和老师互动较多的是下课后问老师问题。老师也会鼓励学生上台讲题，这是在数学课上并不是非常多见的。 <br>
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">
			   <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-1">这堂课/实习经历给你带来的影响？</a>
			</div>
			<div id="panel-element-1" class="panel-collapse collapse">
			  <div class="panel-body">
				
				<b style="font-size: 20px;color:#003520">例子 </b><br>
				这节课对我在工作上的帮助非常大。让我对于整个website的运行有了一个初步的了解， 介绍的React和JPA对于我pick up我的工作十分有帮助，对于我第一次实习， Developed a full-stack bartering web application using Spring framework and JPA。我很轻松的独立完成online chatting system的implement和对于数据库的reconstruction。 对于第二次实习的帮助也非常大，我尝试build一个语言翻译网站，这节课中所学的React和对于project整体的结构的认识让我很轻松的get familiar with 实习的任务。<br>
			  
			  </div>
			</div>
		  </div>

  
		</div>
	  </div>
	</div>
  </div>

	  </div>
	</div>
</div>


