
<header>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
				<a class="navbar-brand" >一个很神秘的网页</a>
		</div>
		<div class="nav  navbar-right">
		  <ul class="nav navbar-nav">
			<li class="active"><a (click)="main(hotel)">HomePage</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{hotel.userAccount}} <b class="caret"></b>
			  </a>

			</li>
			<li class="nav navbar-nav navbar-right">
			  <a href="/main">Log Out</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	
  </header>
  
  <ol class="breadcrumb">
	<li class="active">Home - {{hotel.userAccount}}</li>
</ol>

<div class="container-fluid">
	<div class="row content">
	  <div class="col-sm-3 sidenav">
		<h4>{{hotel.userAccount}}  </h4>
		<ul class="nav nav-pills nav-stacked">
		  <li class="active"><a (click)="main(hotel)">Home</a></li>
			<li><a (click)="hotelman(hotel)">学生管理</a></li>
			<li><a (click)="hmorder(hotel)">学生申请</a></li>
		</ul><br>
		
	  </div>

	  <div class="col-sm-9">
		<div>
			<div class="row text-center">
				<div class="col-md-4">
				  <div class="btn-group">
					<div
					  class="btn btn-primary"
					  mwlCalendarPreviousView
					  [view]="view"
					  [(viewDate)]="viewDate"
					  (viewDateChange)="closeOpenMonthViewDay()"
					>
					  Previous
					</div>
					<div
					  class="btn btn-outline-secondary"
					  mwlCalendarToday
					  [(viewDate)]="viewDate"
					>
					  Today
					</div>
					<div
					  class="btn btn-primary"
					  mwlCalendarNextView
					  [view]="view"
					  [(viewDate)]="viewDate"
					  (viewDateChange)="closeOpenMonthViewDay()"
					>
					  Next
					</div>
				  </div>
				</div>
				<div class="col-md-4">
				  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
				</div>
				<div class="col-md-4">
				  <div class="btn-group">
					<div
					  class="btn btn-primary"
					  (click)="setView(CalendarView.Month)"
					  [class.active]="view === CalendarView.Month"
					>
					  Month
					</div>
					<div
					  class="btn btn-primary"
					  (click)="setView(CalendarView.Week)"
					  [class.active]="view === CalendarView.Week"
					>
					  Week
					</div>
					<div
					  class="btn btn-primary"
					  (click)="setView(CalendarView.Day)"
					  [class.active]="view === CalendarView.Day"
					>
					  Day
					</div>
				  </div>
				</div>
			</div>
			  <br/>
			  <div [ngSwitch]="view">
				<mwl-calendar-month-view
				  *ngSwitchCase="CalendarView.Month"
				  [viewDate]="viewDate"
				  [events]="events"
				  [refresh]="refresh"
				  [activeDayIsOpen]="activeDayIsOpen"
				  (dayClicked)="dayClicked($event.day)"
				  (eventClicked)="handleEvent('Clicked', $event.event)"
				  (eventTimesChanged)="eventTimesChanged($event)"
				>
				</mwl-calendar-month-view>
				<mwl-calendar-week-view
					*ngSwitchCase="CalendarView.Week"
					[viewDate]="viewDate"
					[events]="events"
					[refresh]="refresh"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"
				>
				</mwl-calendar-week-view>
				<mwl-calendar-day-view
					*ngSwitchCase="CalendarView.Day"
					[viewDate]="viewDate"
					[events]="events"
					[refresh]="refresh"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"
				>
				</mwl-calendar-day-view>
			  </div>		  
		</div>


		<h4><small>进度更新</small></h4>

		<hr>
		<div id="dasong">
            <div class="col-sm-12">
              <div class="container">
                <div class="row clearfix" >
                  <div class="col-md-12 column" >
                    <div class="row clearfix"  >
                      <div class="col-md-6 column" >
                        <br>
                        <h3>未完成</h3>
                        <br>
                        <div *ngIf="tasks.length > 0">
                          <div *ngFor="let ts of tasks">
                            <div *ngIf="ts.assigned=='大松'">
                              <div class="list-group" *ngIf="ts.tstate=='未完成'">
                                <a  (click)="update(ts)" class="list-group-item list-group-item-action flex-column align-items-start" >
                                  <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">{{ts.studentname}}</h3>
                                    <small>{{ts.tdate}}</small>
                                  </div>
                                  <p class="mb-1"> {{ts.content}}</p>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

 

                      </div>
                      <div class="col-md-6 column" *ngIf="tasks.length > 0">
                        <br>
                        <h3>已完成</h3>
                        <br>
                        <div *ngFor="let ts of tasks">
                          <div *ngIf="ts.assigned=='大松'">
                            <div class="list-group" *ngIf="ts.tstate=='完成'">
                              <blockquote >
                                <p>
                                 {{ts.content}}
                                </p> <b style="font-size: 12px;">{{ts.studentname}}</b><small>{{ts.tdate}}  {{ts.tstate}}</small>
                              </blockquote>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		<br><br>
	  </div>
	</div>
</div>

  
  