<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <br>
              <h4 class="text-white">Michi Academy </h4>
              <p class="text-muted">申请系统登录入口</p>
              <br>
    
    
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <br>
              <form class="user" >
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                    id="login-user-account" aria-describedby="emailHelp"
                        placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                    id="login-user-password" placeholder="Password">
                </div>
              </form>
              <button type="button" class="btn" style="background-color: #02351F; color:white" (click)="checklogin()" data-dismiss="modal">Log In</button>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand">
                    <img src="https://i.ibb.co/zrhz7DH/Wechat-IMG5.jpg" alt="Wechat-IMG5" border="0" style="width: 20%;">
                </a>
                    
    
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a (click)="main()">关于我们</a></li>
                  <li><a (click)="class()" >王牌课程</a></li>
                  <li><a (click)="abroad()" >留学申请</a></li>
                  <li><a (click)="blog()">Blog</a></li>
                  <li>
                    <a data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        学生登录
                    </a>
                  </li>
                </ul>
              </div>
            </div>
    
    
        </nav>

<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">中学申请 </h1>
	<p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <br>
    <!-- Container (滚动 Section) -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://i.ibb.co/NyQbvNh/5.png" alt="Generic placeholder image" width="140" height="140">
          <h2>课外活动</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://i.ibb.co/n0h31KC/6.png" alt="Generic placeholder image" width="140" height="140">
          <h2>标化分数</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <img class="rounded-circle" src="https://i.ibb.co/2gqWCS7/7.png" alt="Generic placeholder image" width="140" height="140">
          <h2>GPA</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <!-- Container (Blog Section) -->
    <div class="section-title">
      <br>
      <h2>FAQ</h2>         
      <br>
      <h4>
      </h4>
    </div>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="panel-group" id="panel-35714">
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-623008">美国初，高中留学申请常要条件是什么？</a>
              </div>
              <div id="panel-element-623008" class="panel-collapse in">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">非考试类</b>  <br>
                  填写申请表格，相应学籍毕业证书，学生在学证明，成绩单（需要官方翻译），推荐信（一般情况下推荐信在3封以上，数学老师，英语老师，学生辅导员，一些学校会有特殊要求，具体以学校官方信息为准），学生自我陈述（PS），额外申请论文（additional essay） <br><br>
                  <b style="font-size: 20px;color:#003520">标准化考试成绩 </b>  <br>
                  语言类：toefl-托福（推荐），toefl jr-初中托福，ielts-雅思，slep <br>
                  综合测试类：ssat（推荐），isee <br>
                  （以上两类标准化考试中通常学生只需在两类中各选其一，如果学生在咨询之前仍没有进行任相关的考试准备，那么推荐学生选择上方推荐的两类考试） <br><br>
                  <b style="font-size: 20px;color:#003520">面试类 </b><br>
                  校方面试官官方面试（网络面试或抵达美国本土面试）<br>
                  Vericant（第三方面试机构面试） <br>
                  InitialView（第三方面试机构面试） <br>
                  CIEE-CAI（第三方面试机构面试） <br>
                  以上第三方机构面试要求均以学校所提供的官方信息为准<br>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-175945">美国初中共几年，美国高中共几年？</a>
              </div>
              <div id="panel-element-175945" class="panel-collapse collapse">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">美国初中 </b><br>
                  美国初中通常从5年级或6年级开始，统一8年级结束（特殊情况除外） <br><br>
                  <b style="font-size: 20px;color:#003520">美国高中 </b><br>
                  美国高中从9年级开始，统一12年级结束（特殊情况除外）
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#panel-element-1">赴美初，高中留学是否可以选择公立学校？</a>
              </div>
              <div id="panel-element-1" class="panel-collapse collapse">
                <div class="panel-body">
                  可以，但并不常见，一般公立学校留学大多属于特殊交换生项目一类，学生有1年左右在美以交换生身份学习的机会，这种赴美项目以学术交流为主，并不具备考取毕业证和申请大学的功能。
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-2" href="#panel-element-2">公立学校发放的签证种类</a>
              </div>
              <div id="panel-element-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">J1签证  </b><br>
                  一年时限的J-1学生签证，“交流访问者计划”（Exchange-Visitor Programs）。J-1高中学生必须符合一定的年龄要求，且必须参加全日制学习。<br>
                  要注意的是，J-1高中学生不能获得美国高中的毕业文凭。<br><br>
                  <b style="font-size: 20px;color:#003520">F1签证  </b><br>
                  在美一部分公立高中是可以向学生下发F1签证的，其与J1签证的最大差异为F1签证可以在美国公立高中取得学位，从而直接申请美国的大学。关于不同公立学校的F1需求各有不同，因此需要学生确认自己的条件是否符合这些学校的要求。这种情况实属少数，因此现赴美初，高中留学90%
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-3" href="#panel-element-3">美国私立学校的种类是？ </a>
              </div>
              <div id="panel-element-3" class="panel-collapse collapse">
                <div class="panel-body">
                  <b style="font-size: 20px;color:#003520">寄宿学校  </b><br>
                  学生从上课到课余休息一切时间都在学校度过。假期回到家中(如果学生选择假期不回到家中仍留在学校宿舍的话，那么请注意有些学校的宿舍在假期仍然开放，有些学校则是关闭的）。学生的课余时间会被学校统一安排。（假期期间一般学校全部关闭，也包含一些短假期例如感恩节和圣诞节) <br><br>
                  <b style="font-size: 20px;color:#003520">走读学校  </b><br>
                  学生出勤上课时间通常为周一到周五，每天放学后和周末学生回到家中（留学生会回到托管宿舍或寄宿家庭）。学生的课余时间由自己安排（有些托管宿舍或寄宿家庭会为学生安排课余时间的活动计划，例如美国夏校申请服务）。 <br><br>
                  <b style="font-size: 20px;color:#003520">关于选择走读学校后如何安排学生的住宿</b> <br>
                  走读学校的学生可以选择学校附近的托管公寓或寄宿家庭，二者针对学生的衣食住行和课余时间的安排同样拥有一定的规划。寄宿家庭顾名思义，学生与美国本土的家庭一起生活，这样既可以体验美国本土的家庭氛围和文化，也可以快速提升学生的英语能力。 

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-4" href="#panel-element-4">美国初，高中留学的入学季度是怎样划分的？ </a>
              </div>
              <div id="panel-element-4" class="panel-collapse collapse">
                <div class="panel-body">
                  通常分为两种，春季入学，秋季入学。 <br><br>

                  <b style="font-size: 20px;color:#003520">入学季（寄宿） </b><br>
                  美国中学一年分两季入学，春季是在每年的一月份前后，也就是通常我们所说的下半学期，秋季就是9月份前后入学。并不是所有寄宿学校都会在春秋两季招生，学校招生的主要依据是看是否有足够的床位，因为寄宿学校为保证每个学生享有各自的应有的教育资源，招生人数是有严格控制的。总体来说，所有寄宿中学都是在每年秋季大量招生，春季招生比例都很小。 <br><br>
                  <b style="font-size: 20px;color:#003520">入学季（走读）  </b><br>
                  相比寄宿学校来说，走读学校的春季入学比例会大一些，因为对床位和其它周末及日常活动的资源要求没有寄宿高中那样密集，因此走读学校可以更广泛的进行春季招生，但这并不等于走读学校会在春季进行大量招生，因为近年来的申请竞争愈发激烈，因此很多不错的走读中学也慢慢开始关闭了针对“下半学期”的入学季。 
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-5" href="#panel-element-5">什么时候开始准备对美国初，高中留学的申请？何时递交申请比较有优势？ </a>
              </div>
              <div id="panel-element-5" class="panel-collapse collapse">
                <div class="panel-body">
                  通常美国初，高中留学招生制度分为三种，春季招生，秋季招生，滚动招生 <br><br>
                  <b style="font-size: 20px;color:#003520">春季招生  </b><br>
                  春季招生针对春季入学季（举例：学校S-2018年的春季入学季在1月分左右，那么学校S的春季招生截止日期将在2017年10-11月左右结束） <br><br>
                  <b style="font-size: 20px;color:#003520">秋季招生  </b><br>
                  秋季招生针对秋季入学季（举例：学校F-2018年的秋季入学季在9月分左右，那么学校F的秋季招生截止日期将在2017年1-2月左右结束） <br><br>
                  <b style="font-size: 20px;color:#003520">滚动招生   </b><br>
                  滚动招生针对春&秋季两入学季（举例：学校R-2018年的秋季入学季在9月分左右，春季入学季在1月分左右，学校R的滚动招生并不会设有具体招生截止日期，具体根据学校当时招生情况而定）
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-35714" href="#panel-element-6">关于开始准备对美国初，高中留学的申请的时间 </a>
              </div>
              <div id="panel-element-6" class="panel-collapse collapse">
                <div class="panel-body">
                  在此建议针对越好的名校发动申请冲击，越早做准备越好，但不适宜太早。有准备的美国初，高中留学申请建议准备时间不少于1年。1年的准备时间中会准备问题1中所有涉及的申请必要材料，这对学生和家长来说都是不小的压力，因此如果时间允许建议用不少于一年的时间来准备对理想学校发起冲击，因为不论是标化考试学习或是各项材料准备都将花费大量的时间。 
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-7" href="#panel-element-7">学生的标准化考试成绩（SSAT+托福或雅思等）很高，肯定会被理想的学校录取么？</a>
              </div>
              <div id="panel-element-7" class="panel-collapse collapse">
                <div class="panel-body">
                  成绩高低并不是美国学校招收学生的唯一条件，虽然成绩仍然是学校招收学生的重要参考条件之一，但是校方的招生官会从多方面去考察学生，无论是学生提供的第三方推荐信或是学生的自我介绍信都是重要参考条件，很多时候学生的不同荣誉及认证证书或课外活动经验也会成为招生条件的重要考量因素。
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-8" href="#panel-element-8">美国初，高中的假期时间是如何安排的？</a>
              </div>
              <div id="panel-element-8" class="panel-collapse collapse">
                <div class="panel-body">
                  美国高中生节假日放假安排随着学校的不同而不同，但一般来讲，美国高中生节假日有四个长假期，分别为Thanksgiving (11月)，Christmas(12月)，Spring break(春假)，Summer(暑假)。<br><br>

                  <b style="font-size: 20px;color:#003520">圣诞节假期 </b><br>
                  为三个礼拜到一个月的圣诞假期，这个时间段作为顾问老师可以建议建议学生参加标化考试集中补习班，提升标化考试成绩 <br><br>
                  <b style="font-size: 20px;color:#003520">Spring break(春假) </b><br>
                  有的学校刚好会在复活节放假，时间在两周左右。<br><br>
                  <b style="font-size: 20px;color:#003520">Summer(暑假)  </b><br>
                  为期约三个月，我们建议学生上summer school,以免假期过长，荒废了学业。利用这段时间，可以复习之前的课程以及预习下一年的课程，国际学生可加强较困难的历史、生物、英文等课程，或加强数学、理化课程，这有肋于开学后能够选修更深入的高中荣誉课程或大学预备课程，对将来申请大学将有加分作用。（AP或IB或荣誉课程）<br><br>
                  <b style="font-size: 20px;color:#003520">以下提供某美国中学假期时间安排作为参考-2009~2010-（仅供参考） </b><br>
                  Labor Day September 7, 2009 <br>
                  Fall Break October 5 - 13, 2009 <br>
                  Thanksgiving Break November 25 - 27, 2009Winter Break December 21 - January 1 <br>
                  Second Semester Begins January 4, 2010 <br>
                  Martin Luther King, Jr. Holiday January 18, 2010 <br>
                  President’s Day February 15, 2010 <br>
                  Mini-Break March 11 - 12, 2010 <br>
                  Good Friday April 2, 2010 <br>
                  Spring Break April 5 - 9, 2010 <br>
                  Primary Election Day May 18, 2010 <br>
                  Last Day for Students May 21, 2010 <br>
                  Closing Day for Teachers & Staff May 24, 2010 <br>
                  一般情况下美国学校都有不同的放假时间，要根据地区等因素具体而论。 

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-9" href="#panel-element-9">AP或IB课程</a>
              </div>
              <div id="panel-element-9" class="panel-collapse collapse">
                <div class="panel-body">
                  此类课程一般作为为未来大学申请的加分课程而存在。此类课程通常针对10-12年级的学生开设，大部分从11年级开始，有的学校比较早从10年级开始（根据学校要求而定）。一般设有此类课程的美国中学对课程的要求分为两类，必修类和选修类。<br><br>

                  <b style="font-size: 20px;color:#003520">必修类 </b><br>
                  学生到了适应年级后，学校开始开放此类课程，并将此类课程加入学生的必须课程中，此类课程的成绩直接和学生的GPA（平均成绩）挂钩。 <br><br>
                  <b style="font-size: 20px;color:#003520">选修类 </b><br>
                  学生到了适应年级后开始开放此类课程，但是并不纳入必须课之中，因此不和GPA（平均成绩）直接挂钩。但是有些学校的此类课程就算是作为选修课的存在仍可以计算在GPA之内，并且分值要比普通必须课高一些，因此可以作为很多学生提高GPA的方案之一。<br><br>
                  是否提供此类课程并不是评判学校质量高低与否的关键，但至少可以判定，提供此类课程的学校 是被相应教育协会所认证的，在教育质量方面有一定保证。仍需要注意的是提供此类课程不能作为好学校的标准，和家长与学生交谈中可以作为学校的加分点，但并不是选择学校的先决条件。<br>
                  查询一切所需的信息请以以下网站的信息为准 <br>
                  https://apstudent.collegeboard.org/home 

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <br>
    <br>



  <!-- Container (Footer Section) -->
<div id="footer" class="panel-footer">
    <h2 class="text-center" style="color: white;">联系我们</h2>
    <br>
    <div class="container" style="color: white;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <p>联系方式</p>
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <address> <strong>Michi Academy Inc.</strong><br />  4199 Campus Dr, Suite 550<br /> Irvine, CA, 92612<br /> United States<br /></address>
                                </div>
                            </div>
                        </div>
                        <p><span class="glyphicon glyphicon-phone"></span>客服微信号: YuxinPREP</p>
                        <p><span class="glyphicon glyphicon-envelope"></span>邮件: YuxinPREP@gmail.com</p>
                    </div>
                    <div class="col-md-4 column">
                        <p>客服微信二维码</p>
                        <div class="container">
                            <img src="http://www.yxprep.com/assets/img/qr1.jpg" alt="Wechat-IMG5" border="0" style="width: 12%;">
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <p>公众号二维码</p>
                        <div class="container">
                            <img src="http://www.yxprep.com/assets/img/qr2.jpg" alt="Wechat-IMG5" border="0" style="width: 12%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

</body>