

<header>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
				<a class="navbar-brand" >一个很神秘的网页</a>
		</div>
		<div class="nav  navbar-right">
		  <ul class="nav navbar-nav">
			<li class="active"><a (click)="main(hotel)">HomePage</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{hotel.userAccount}} <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
							<li><a (click)="modifyP(hotel)">Change Password</a></li>
							<li><a (click)="comp(hotel)">Complete info</a></li>
							<li class="divider"></li>
						</ul>
			</li>
			<li class="nav navbar-nav navbar-right">
			  <a href="/mainpage">Log Out</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	
  </header>
  
  <ol class="breadcrumb">
  <li><a (click)="main(hotel)">Home</a></li>
  <li class="active">进度更新</li>
</ol>

<div class="container-fluid">
	<div class="row content">
	  <div class="col-sm-2 sidenav">
		<h4>{{hotel.userAccount}}  </h4>
		<ul class="nav nav-pills nav-stacked">
		  <li ><a (click)="main(hotel)">Home</a></li>
      <li ><a (click)="modifyP(hotel)">Change Password</a></li>
      <li class="active"><a (click)="comp(hotel)">进度更新</a></li>
      <li><a (click)="hotelman(hotel)">Manage Student</a></li>
      <li><a (click)="hmorder(hotel)">学生申请</a></li>
      <li ><a (click)="hmregister(hotel)">登记账号</a></li>
      <li ><a (click)="hmblog(hotel)">Blog管理</a></li>
		</ul><br>
		
	  </div>
  
	  <div class="col-sm-10">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#yuxin" >Yuxin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#yi" >小伊</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#dasong" >大松</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#oth" >其他</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="yuxin">
          <br>
          你好


        </div>
        <div class="tab-pane fade " id="yi">               
          <div class="col-sm-12">
            <div class="container">
              <div class="row clearfix">
                <div class="col-md-12 column">
                  <div class="row clearfix">
                    <div class="col-md-6 column">
                      你好
                      <br>
                    </div>
                    <div class="col-md-6 column" *ngIf="tasks.length > 0">
                      <blockquote *ngFor="let ts of tasks">
                        <p>
                         {{ts.content}}
                        </p> <b style="font-size: 12px;">{{ts.assigned}} </b><small>{{ts.tdate}}  {{ts.tstate}}</small>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>






        </div>
        <div class="tab-pane fade " id="dasong">
          大松

        </div>
        <div class="tab-pane fade " id="oth">

          其他人
        </div>


      </div>
        

	  </div>

	</div>
</div>


