<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >{{student.firstName}} {{student.lastName}}</a>
      </div>
      <div class="nav  navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="studentmain(student)">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              推荐人 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="rec(student)">全部推荐人信息</a></li>
              <li><a (click)="addRecom(student)">添加新的推荐人</a></li>
            </ul>
          </li>
          <li class="nav navbar-nav navbar-right">
            <a href="/mainpage">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	  <div class="container-fluid">
		<div class="row content">
		  <div class="col-sm-3 sidenav">
			  <h3></h3>
			<ul class="nav nav-pills nav-stacked">
			  <li class="active"><a (click)="studentmain(student)">申请状态</a></li>
				<li ><a >更改密码</a></li>
				<li><a (click)="info(student)">个人信息</a></li>
				<li ><a (click)="resume(student)">简历信息</a></li>
				<li><a (click)="rec(student)">推荐人信息</a></li>
				<li><a (click)="addRecom(student)">添加推荐人</a></li>
			</ul><br>	
		  </div>
	  
		  <div class="col-sm-9">
			<div *ngIf="notifs.length > 0">
				<div *ngFor="let n of notifs">
					<div *ngIf="n.nstate=='未读'">
					<div class="alert alert-dismissible alert-warning" *ngIf="n.ntype=='比较紧急'">
						<button type="button" class="close" data-dismiss="alert"aria-hidden="true">&times;</button>
						<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
							  <strong class="me-auto">未读{{n.ntype}}消息 </strong>
							  <small>{{n.ndate}}</small>
							</div>
							<div class="toast-body">
								{{n.content}}
								<button type="button" class="btn btn-warning btn-sm" href="/anew/todel/@a.id"  (click)="updateNotif(n)">标记为已读消息</button>
							</div>
						</div>
					</div>
					<div class="alert alert-dismissible alert-success" *ngIf="n.ntype=='一般'">
						<button type="button" class="close" data-dismiss="alert"aria-hidden="true">&times;</button>
						<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
							  <strong class="me-auto">未读{{n.ntype}}消息 </strong>
							  <small>{{n.ndate}}</small>
							</div>
							<div class="toast-body">
								{{n.content}}
								<button type="button" class="btn btn-success btn-sm" href="/anew/todel/@a.id"  (click)="updateNotif(n)">标记为已读消息</button>
							</div>
						</div>
					</div>
					<div class="alert alert-dismissible alert-danger" *ngIf="n.ntype=='紧急'">
						<button type="button" class="close" data-dismiss="alert"aria-hidden="true">&times;</button>
						<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
							  <strong class="me-auto">未读{{n.ntype}}消息 </strong>
							  <small>{{n.ndate}}</small>
							</div>
							<div class="toast-body">
								{{n.content}}
								<button type="button" class="btn btn-danger btn-sm" href="/anew/todel/@a.id"  (click)="updateNotif(n)">标记为已读消息</button>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
				<h4>已添加的选校列表：{{school.length}}</h4>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">日历视图</button>
				</div>
			</div>
			<div id="demo" class="collapse">
			<h5>请注意：日历视图的日期要比真实deadline提前一天！红色点为round1，黄色为round2，蓝色为round3！已完成的项目不会显示在日历视图中</h5>
			<hr>
			<div>
				<div class="row text-center">
					<div class="col-md-4">
					  <div class="btn-group">
						<div
						  class="btn btn-primary"
						  mwlCalendarPreviousView
						  [view]="view"
						  [(viewDate)]="viewDate"
						  (viewDateChange)="closeOpenMonthViewDay()"
						>
						  Previous
						</div>
						<div
						  class="btn btn-outline-secondary"
						  mwlCalendarToday
						  [(viewDate)]="viewDate"
						>
						  Today
						</div>
						<div
						  class="btn btn-primary"
						  mwlCalendarNextView
						  [view]="view"
						  [(viewDate)]="viewDate"
						  (viewDateChange)="closeOpenMonthViewDay()"
						>
						  Next
						</div>
					  </div>
					</div>
					<div class="col-md-4">
					  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
					</div>
					<div class="col-md-4">
					  <div class="btn-group">
						<div
						  class="btn btn-primary"
						  (click)="setView(CalendarView.Month)"
						  [class.active]="view === CalendarView.Month"
						>
						  Month
						</div>
						<div
						  class="btn btn-primary"
						  (click)="setView(CalendarView.Week)"
						  [class.active]="view === CalendarView.Week"
						>
						  Week
						</div>
						<div
						  class="btn btn-primary"
						  (click)="setView(CalendarView.Day)"
						  [class.active]="view === CalendarView.Day"
						>
						  Day
						</div>
					  </div>
					</div>
				</div>
				  <br/>
				  <div [ngSwitch]="view">
					<mwl-calendar-month-view
					  *ngSwitchCase="CalendarView.Month"
					  [viewDate]="viewDate"
					  [events]="events"
					  [refresh]="refresh"
					  [activeDayIsOpen]="activeDayIsOpen"
					  (dayClicked)="dayClicked($event.day)"
					  (eventClicked)="handleEvent('Clicked', $event.event)"
					  (eventTimesChanged)="eventTimesChanged($event)"
					>
					</mwl-calendar-month-view>
					<mwl-calendar-week-view
						*ngSwitchCase="CalendarView.Week"
						[viewDate]="viewDate"
						[events]="events"
						[refresh]="refresh"
						(eventClicked)="handleEvent('Clicked', $event.event)"
						(eventTimesChanged)="eventTimesChanged($event)"
					>
					</mwl-calendar-week-view>
					<mwl-calendar-day-view
						*ngSwitchCase="CalendarView.Day"
						[viewDate]="viewDate"
						[events]="events"
						[refresh]="refresh"
						(eventClicked)="handleEvent('Clicked', $event.event)"
						(eventTimesChanged)="eventTimesChanged($event)"
					>
					</mwl-calendar-day-view>
				  </div>		  
			</div>

			</div>
			  <hr>
			  <div class="panel-group" id="accordion" *ngIf="school.length > 0">
				<div *ngFor="let k of school">
				<div class="panel panel-success"  *ngIf="k.state=='Offer'">
				  <div class="panel-heading" >
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" 
						href="#{{k._id}}">
					  <b> {{k.univName}} </b> 【 {{k.majorName}} 】 <br><small style="color: green;">{{k.state}}</small>
					  </a>
					</h4>
				  </div>
				  <div id="{{k._id}}" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered" >
							<tbody>
							  <tr>
								<td style="background-color: gainsboro;">Deadline 1 </td>
								<td style="background-color: gainsboro;">Deadline 2</td>
								<td style="background-color: gainsboro;">Deadline 3</td>
								<td style="background-color: gainsboro;">需要推荐人数量</td>	
							  </tr>
							  <tr>
								<td >{{k.ddl1}} </td>
								<td >{{k.ddl2}}</td>
								<td >{{k.ddl3}}</td>	
								<td >{{k.recommNumber}}</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请账号</td>
								<td colspan="3">	
									{{k.applyAccount}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请密码</td>
								<td colspan="3">	
									{{k.applyPassword}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">项目链接</td>
								<td colspan="3">	
									{{k.link}}
									<a href="{{k.link}}">
										<span class="glyphicon glyphicon-link"></span>
									</a>
								</td>
							  </tr>
							  <tr>
								<td colspan="3">	
									
								</td>
								<td >
									<button href="/anew/todel/@a.id" (click)="schooldetail(k)">More</button>
								</td>
							  </tr>
							  
							</tbody>
						</table>
					</div>
				  </div>
				  <br>
				</div>
				<div class="panel panel-primary" *ngIf="k.state=='进行中'">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" 
						  href="#{{k._id}}">
						<b> {{k.univName}} </b>【 {{k.majorName}} 】 <br><small style="color: whitesmoke;">{{k.state}}</small>
						</a>
					  </h4>
					</div>
					<div id="{{k._id}}" class="panel-collapse collapse">
					  <div class="panel-body">
						<table class="table table-bordered" >
							<tbody>
							  <tr>
								<td style="background-color: gainsboro;">Deadline 1 </td>
								<td style="background-color: gainsboro;">Deadline 2</td>
								<td style="background-color: gainsboro;">Deadline 3</td>
								<td style="background-color: gainsboro;">需要推荐人数量</td>	
							  </tr>
							  <tr>
								<td >{{k.ddl1}} </td>
								<td >{{k.ddl2}}</td>
								<td >{{k.ddl3}}</td>	
								<td >{{k.recommNumber}}</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请账号</td>
								<td colspan="3">	
									{{k.applyAccount}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请密码</td>
								<td colspan="3">	
									{{k.applyPassword}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">项目链接</td>
								<td colspan="3">	
									{{k.link}}
									<a href="{{k.link}}">
										<span class="glyphicon glyphicon-link"></span>
									</a>
								</td>
							  </tr>
							  <tr>
								<td colspan="3">	
									
								</td>
								<td >
									<button href="/anew/todel/@a.id" (click)="schooldetail(k)">More</button>
								</td>
							  </tr>
							  
							</tbody>
						</table>
					  </div>
					</div>
					<br>
				</div>
				<div class="panel panel-warning" *ngIf="k.state=='已完成'">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" 
						  href="#{{k._id}}">
						<b> {{k.univName}} </b> 【 {{k.majorName}} 】  <br><small style="color: goldenrod;">{{k.state}}</small>
						</a>
					  </h4>
					</div>
					<div id="{{k._id}}" class="panel-collapse collapse">
					  <div class="panel-body">
						<table class="table table-bordered" >
							<tbody>
							  <tr>
								<td style="background-color: gainsboro;">Deadline 1 </td>
								<td style="background-color: gainsboro;">Deadline 2</td>
								<td style="background-color: gainsboro;">Deadline 3</td>
								<td style="background-color: gainsboro;">需要推荐人数量</td>	
							  </tr>
							  <tr>
								<td >{{k.ddl1}} </td>
								<td >{{k.ddl2}}</td>
								<td >{{k.ddl3}}</td>	
								<td >{{k.recommNumber}}</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请账号</td>
								<td colspan="3">	
									{{k.applyAccount}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请密码</td>
								<td colspan="3">	
									{{k.applyPassword}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">项目链接</td>
								<td colspan="3">	
									{{k.link}}
									<a href="{{k.link}}">
										<span class="glyphicon glyphicon-link"></span>
									</a>
									 
								</td>
							  </tr>
							  <tr>
								<td colspan="3">	
									
								</td>
								<td >
									<button href="/anew/todel/@a.id" (click)="schooldetail(k)">More</button>
								</td>
							  </tr>
							  
							</tbody>
						</table>
					  </div>
					</div>
					<br>
				</div>
				<div class="panel panel-default" *ngIf="k.state=='拒信'">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" 
						  href="#{{k._id}}">
						<b> {{k.univName}} </b> 【 {{k.majorName}} 】  <br><small style="color: red;">{{k.state}}</small>
						</a>
					  </h4>
					</div>
					<div id="{{k._id}}" class="panel-collapse collapse">
					  <div class="panel-body">
						<table class="table table-bordered" >
							<tbody>
							  <tr>
								<td style="background-color: gainsboro;">Deadline 1 </td>
								<td style="background-color: gainsboro;">Deadline 2</td>
								<td style="background-color: gainsboro;">Deadline 3</td>
								<td style="background-color: gainsboro;">需要推荐人数量</td>	
							  </tr>
							  <tr>
								<td >{{k.ddl1}} </td>
								<td >{{k.ddl2}}</td>
								<td >{{k.ddl3}}</td>	
								<td >{{k.recommNumber}}</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请账号</td>
								<td colspan="3">	
									{{k.applyAccount}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">申请密码</td>
								<td colspan="3">	
									{{k.applyPassword}}
								</td>
							  </tr>
							  <tr>
								<td style="background-color: gainsboro;">项目链接</td>
								<td colspan="3">	
									{{k.link}}
									<a href="{{k.link}}">
										<span class="glyphicon glyphicon-link"></span>
									</a>
								</td>
							  </tr>
							  <tr>
								<td colspan="3">	
									
								</td>
								<td >
									<button href="/anew/todel/@a.id" (click)="schooldetail(k)">More</button>
								</td>
							  </tr>
							  
							</tbody>
						</table>
					  </div>
					</div>
					<br>
				</div>
				
			  </div>
			  
		  </div>
		</div>
	</div>

